<div class="main">
  <loader *ngIf="isLoading"></loader>
  <h1 class="title">INFOS</h1>
  <card *ngIf="!isLoading && contest" title="Informations générale">
    <div class="infos" [formGroup]="infosForm">
      <input-text
        name="name"
        type="Text"
        placeholder="Nom..."
        label="Nom du contest"
        formControlName="name"
        [error]="
          touched &&
          (fus.isFieldInvalid('name') || infosForm.get('name').value == '')
        "
      ></input-text>
      <input-text
        name="description"
        type="Text"
        placeholder="Description..."
        label="Description du contest"
        formControlName="description"
        [error]="
          touched &&
          (fus.isFieldInvalid('description') ||
            infosForm.get('description').value == '')
        "
      ></input-text>
      <div class="flexRow">
        <input-text
          name="startDate"
          type="Date"
          label="Date de début"
          formControlName="startDate"
          [error]="
            touched &&
            (fus.isFieldInvalid('startDate') ||
              infosForm.get('startDate').value == '')
          "
        ></input-text>
        <input-text
          name="endDate"
          type="Date"
          label="Date de fin"
          formControlName="endDate"
          [error]="
            touched &&
            (fus.isFieldInvalid('endDate') ||
              infosForm.get('endDate').value == '')
          "
        ></input-text>
      </div>
      <input-adress label="Lieu" formControlName="location"></input-adress>
    </div>
  </card>
  <card title="Branding"></card>
  <p *ngIf="!isLoading && !contest">Contest introuvable</p>
</div>
