.main {
  display: flex;
  flex-direction: column;
  gap: 5vw;

  .cards {
    display: flex;
    flex-direction: column;
    gap: 5vw;
  }

  .infosForm {
    display: flex;
    flex-direction: column;
    gap: 4vw;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 4vw;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
}

@media only screen and (min-width: 768px) {
  .main {
    gap: 2vw;

    .cards {
      display: flex;
      flex-direction: row;
      gap: 2vw;

      .infosCard {
        flex: 2;
      }

      .socialsCard {
        flex: 2;
      }

      .brandingCard {
        flex: 1;
      }

      .infosForm {
        display: flex;
        flex-direction: column;
        gap: 1vw;
        flex: 1;
      }

      .socialsForm {
        display: flex;
        flex-direction: column;
        gap: 3vw;
        flex: 1;
      }

      .socialField {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      }

      .form {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
