<div class="main">
  <div class="cards">
    <loader *ngIf="isLoading"></loader>
    <p *ngIf="!isLoading && !contest">Contest introuvable</p>
    <card
      *ngIf="!isLoading && contest"
      title="Informations générale"
      [btn]="!infosEdit"
      btnIcon="fa-solid fa-pen-to-square fa-lg"
      (btnClicked)="infosEdit = !infosEdit"
      class="infosCard"
    >
      <div class="infosForm" [formGroup]="infosForm">
        <input-text
          name="name"
          type="Text"
          placeholder="Nom..."
          label="Nom du contest"
          formControlName="name"
          [edit]="infosEdit"
          [error]="
            infosTouched &&
            (fus.isFieldInvalid('name') || infosForm.get('name').value == '')
          "
        ></input-text>
        <input-textarea
          name="description"
          size="md"
          placeholder="Description..."
          label="Description du contest"
          formControlName="description"
          [edit]="infosEdit"
          [error]="
            infosTouched &&
            (fus.isFieldInvalid('description') ||
              infosForm.get('description').value == '')
          "
        ></input-textarea>
        <div class="flexRow">
          <input-date
            name="startDate"
            type="Date"
            label="Date de début"
            formControlName="startDate"
            class="fullWidth"
            [edit]="infosEdit"
            [error]="
              infosTouched &&
              (fus.isFieldInvalid('startDate') ||
                infosForm.get('startDate').value == '')
            "
          ></input-date>
          <input-date
            name="endDate"
            type="Date"
            label="Date de fin"
            formControlName="endDate"
            class="fullWidth"
            [edit]="infosEdit"
            [error]="
              infosTouched &&
              (fus.isFieldInvalid('endDate') ||
                infosForm.get('endDate').value == '')
            "
          ></input-date>
        </div>
        <input-adress
          [edit]="infosEdit"
          label="Lieu"
          formControlName="location"
        ></input-adress>
        <chips-group
          [chips]="[
            { value: 'roller', name: 'Roller' },
            { value: 'trottinette', name: 'Trottinette' },
            { value: 'skate', name: 'Skate' },
            { value: 'quad', name: 'Quad' }
          ]"
          [edit]="infosEdit"
          label="Sports"
          formControlName="sports"
        ></chips-group>

        <div class="buttons">
          <btn
            *ngIf="infosEdit"
            (click)="cancelInfos()"
            type="secondary"
            label="Annuler"
            icon="fa-solid fa-xmark fa-lg"
          ></btn>
          <btn
            *ngIf="infosEdit"
            (click)="saveInfos()"
            type="primary"
            label="Confirmer"
            icon="fa-solid fa-check fa-lg"
          ></btn>
        </div>
      </div>
    </card>
    <card
      title="Réseaux sociaux"
      *ngIf="!isLoading && contest"
      [btn]="!socialsEdit"
      btnIcon="fa-solid fa-pen-to-square fa-lg"
      (btnClicked)="socialsEdit = !socialsEdit"
    >
      <div class="socialsForm" [formGroup]="socialsForm">
        <div class="flexRow socialField">
          <input-text
            name="instagram"
            type="Text"
            placeholder="Instagram..."
            label="Instagram"
            formControlName="instagram"
            [edit]="socialsEdit"
            [error]="
              socialsTouched &&
              (fus.isFieldInvalid('instagram') ||
                socialsForm.get('instagram').value == '')
            "
          ></input-text>
          <btn
            (click)="
              goToWebsite(
                'https://www.instagram.com/' +
                  socialsForm.get('instagram').value
              )
            "
            label="Test"
            icon="fa-brands fa-instagram"
          ></btn>
        </div>
        <div class="flexRow socialField">
          <input-text
            name="twitter"
            type="Text"
            placeholder="Twitter..."
            label="Twitter"
            formControlName="twitter"
            [edit]="socialsEdit"
            [error]="
              socialsTouched &&
              (fus.isFieldInvalid('twitter') ||
                socialsForm.get('twitter').value == '')
            "
          ></input-text>
          <btn
            (click)="
              goToWebsite(
                'https://twitter.com/' + socialsForm.get('twitter').value
              )
            "
            label="Test"
            icon="fa-brands fa-twitter"
          ></btn>
        </div>
        <div class="flexRow socialField">
          <input-text
            name="youtube"
            type="Text"
            placeholder="Youtube..."
            label="Youtube"
            formControlName="youtube"
            [edit]="socialsEdit"
            [error]="
              socialsTouched &&
              (fus.isFieldInvalid('youtube') ||
                socialsForm.get('youtube').value == '')
            "
          ></input-text>
          <btn
            (click)="
              goToWebsite(
                'https://www.youtube.com/@' + socialsForm.get('youtube').value
              )
            "
            label="Test"
            icon="fa-brands fa-youtube"
          ></btn>
        </div>
        <div class="flexRow socialField">
          <input-text
            name="website"
            type="Text"
            placeholder="Site internet..."
            label="Site internet"
            formControlName="website"
            [edit]="socialsEdit"
            [error]="
              socialsTouched &&
              (fus.isFieldInvalid('website') ||
                socialsForm.get('website').value == '')
            "
          ></input-text>
          <btn
            (click)="goToWebsite(socialsForm.get('website').value)"
            label="Test"
            icon="fa-solid fa-link"
          ></btn>
        </div>
        <div class="buttons">
          <btn
            *ngIf="socialsEdit"
            (click)="cancelSocials()"
            type="secondary"
            label="Annuler"
            icon="fa-solid fa-xmark fa-lg"
          ></btn>
          <btn
            *ngIf="socialsEdit"
            (click)="saveSocials()"
            type="primary"
            label="Confirmer"
            icon="fa-solid fa-check fa-lg"
          ></btn>
        </div>
      </div>
    </card>
    <card title="Branding" *ngIf="!isLoading && contest" class="brandingCard">
      <div class="form">
        <input-image
          label="Votre logo"
          btnLabel="Ajoutez votre logo"
          btnLabelDetail="(png, jpg, jpeg & < 3mo)"
          [img]="contest.branding ? contest.branding.logo : null"
          (onUploadImage)="onUploadImage($event, 'logo')"
        ></input-image
        ><input-image
          label="Votre bannière"
          btnLabel="Ajoutez votre bannière"
          btnLabelDetail="(png, jpg, jpeg & < 3mo)"
          [img]="contest.branding ? contest.branding.banner : null"
          (onUploadImage)="onUploadImage($event, 'banner')"
        ></input-image
        ><input-image
          label="Votre poster"
          btnLabel="Ajoutez votre poster"
          btnLabelDetail="(png, jpg, jpeg & < 3mo)"
          [img]="contest.branding ? contest.branding.poster : null"
          [ratio]="21 / 29.7"
          (onUploadImage)="onUploadImage($event, 'poster')"
        ></input-image>
      </div>
    </card>
  </div>
</div>
