:host {
  width: 100%;

  .tabs {
    display: flex;
    flex-direction: column;

    ul {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2vw;

      li {
        width: 100%;
        padding-bottom: 10px;
        text-align: center;
        list-style: none;
        cursor: pointer;
        font-size: 20px;
        font-variation-settings: "wght" 500;
        border-bottom: 2px solid transparent;
      }

      .active {
        font-variation-settings: "wght" 800;
        transition: 0.5s;
        border-bottom: 2px solid black;
      }
    }
  }
}
