@import "../../../../../styles/colors.scss";
@import "../../../../../styles/variables.scss";

.isEmpty {
  margin-top: 2vw;
  margin-bottom: 2vw;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: center;
}

.header {
  display: flex;
  align-self: center;
  gap: 2vw;
  margin-bottom: 2vw;

  h3 {
    font-variation-settings: "wght" $mobile_fontCardTitleWeight;
    font-family: "HankenGrotesk";
    color: $firstry-black-2;
    font-size: $mobile_fontCardTitleSize;
  }

  btn {
    align-self: center;
  }
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;

  .category {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .header {
    h3 {
      font-size: 30px;
    }
  }
}
