@import "../../../../../styles/colors.scss";

.isEmpty {
  margin-top: 2vw;
  margin-bottom: 2vw;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: center;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;

  .category {
    width: 100%;
  }
}
