<form [formGroup]="connexionForm">
  <div class="inputGroup">
    <h4 for="email">Email</h4>
    <input
      pInputText
      type="email"
      placeholder="Email"
      formControlName="email"
      required
    />
  </div>
  <div class="inputGroup">
    <h4>Mot de passe</h4>

    <p-password
      styleClass="p-password p-component p-inputwrapper p-input-icon-right"
      [style]="{ width: '100%' }"
      [inputStyle]="{ width: '100%' }"
      minlength="6"
      placeholder="Mot de passe"
      [feedback]="false"
      formControlName="password"
      required
    ></p-password>
  </div>
  <small *ngIf="invalidCredentials" class="p-error"
    >Votre email ou votre mot de passe est incorrect</small
  >

  <div class="buttonsForm">
    <p>Mot de passe oublié ?</p>
    <button (click)="submit()">Connexion</button>
  </div>
</form>
