<form [formGroup]="connexionForm">
  <input-text
    name="email"
    type="Text"
    placeholder="Email..."
    label="Email"
    formControlName="email"
  ></input-text>
  <input-text
    name="password"
    type="Text"
    placeholder="Mot de passe..."
    label="Mot de passe"
    formControlName="password"
  ></input-text>

  <note
    *ngIf="invalidCredentials"
    type="error"
    text="Votre email ou votre mot de passe est incorrect"
  ></note>

  <div class="flexRow spaceBetween">
    <p>Mot de passe oublié ?</p>
    <btn
      (click)="submit()"
      label="Connexion"
      icon="fa-solid fa-check fa-2xs"
      iconPos="right"
    ></btn>
  </div>
</form>
