@import "../../../../../styles/colors.scss";
@import "../../../../../styles/variables.scss";

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;

  p {
    width: 100%;
    max-width: 20vw;
    overflow-wrap: break-word;
  }
}
