@import "../../../../../styles/variables";
@import "../../../../../styles/colors";

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.705);
  z-index: 1000;

  .container {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal {
      .content {
        display: flex;
        flex-direction: column;
        gap: 1vw;
      }

      .buttons {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
