<div class="modal-background" *ngIf="isVisible">
  <div class="container">
    <div class="modal">
      <card [title]="title" titleGap="1">
        <div class="content">
          <p>{{ message }}</p>
          <div class="buttons">
            <btn
              [type]="cancelledBtnType"
              label="Annuler"
              (click)="cancel()"
            ></btn>
            <btn
              [type]="confirmedBtnType"
              label="Confirmer"
              (click)="confirm()"
            ></btn>
          </div>
        </div>
      </card>
    </div>
  </div>
</div>
