.map {
  border-radius: 11px;
  position: relative;
  min-height: 40vw;

  h2 {
    position: absolute;
    top: 1vw;
    left: 1vw;
    color: black;
    z-index: 1;
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .map {
    min-height: 10vw;

    h2 {
      font-size: 30px;
    }
  }
}
