<div class="main" *ngIf="contest">
  <div class="header">
    <img
      class="poster"
      [src]="
        contest.branding && contest.branding.poster
          ? contest.branding.poster
          : ''
      "
      alt=""
      *ngIf="isMobile"
    />
    <div class="contestName">
      <h1 class="mainTitle">{{ contest.name }}</h1>
      <p>
        Contest organisé par <b>{{ contest._id }}</b>
      </p>
    </div>
    <div class="nav" *ngIf="!isMobile">
      <nav-btn
        label="Aperçu"
        routerLinkActive="active"
        routerLink="overview"
      ></nav-btn>
      <nav-btn
        label="Inscription"
        routerLinkActive="active"
        routerLink="register"
      ></nav-btn>
      <nav-btn
        label="Résultats"
        routerLinkActive="active"
        routerLink="results"
      ></nav-btn>
    </div>
  </div>
  <div class="sep"></div>
  <router-outlet class="fullWidth"></router-outlet>
</div>
