@import "../../../../../styles/colors.scss";
@import "../../../../../styles/variables.scss";

.dropdown.fitContent {
  width: fit-content;
}

.dropdown {
  z-index: 10;
  position: relative;
  width: 100%;

  .dropdown-button {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 6px 7px;
    gap: 1vw;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-family: "HankenGrotesk";
    font-variation-settings: "wght" 700;
    cursor: pointer;
  }

  .dropdown-content {
    cursor: pointer;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $firstry-white-2;
    border-radius: 6px;
    z-index: 999;

    a {
      transition: 0.3s;
      padding: 8px 10px;
      border-radius: 6px;
      text-decoration: none;
    }

    .route {
      background-color: $firstry-black-2;
      color: $firstry-white-1;
    }
  }
}

.m {
  font-size: 12px;
}

.s {
  font-size: 10px;
}

@media (min-width: 768px) {
  .dropdown {
    .dropdown-button {
      font-size: $pc_fontInputSize;
      width: 100%;
      transition: 0.3s;
    }

    .dropdown-button:hover {
      background-color: $firstry-white-2;
    }

    .dropdown-content {
      margin-top: 5px;
    }

    a {
      font-size: $pc_fontInputSize;
    }

    a:hover {
      background-color: $firstry-white-3;
    }
  }
}
