<div class="dropdown">
  <button (click)="toggleDropdown()" class="dropdown-button">
    <p
      *ngIf="
        (selectedOption && selectedOption.label != '') ||
        (options[0] && options[0].label != '')
      "
      Capitalize
    >
      {{ selectedOption.label || options[0].label }}
    </p>
    <i class="fa-solid fa-angle-down"></i>
  </button>
  <div *ngIf="showDropdown" class="dropdown-content">
    <a
      *ngFor="let option of options"
      (click)="selectOption(option)"
      Capitalize
      >{{ option.label }}</a
    >
    <a
      class="route"
      *ngFor="let route of routes"
      [routerLink]="route.value"
      Capitalize
      >{{ route.label }}</a
    >
  </div>
</div>
