.quadrillage {
  position: relative;
  width: 100%;
  height: 100%;
  //   right: $width * 2;

  .vertical {
    position: absolute;
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;

    .sepVertical {
      width: 1px;
      background-color: rgba(0, 0, 0, 0.06);
    }
  }

  .horizontal {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    position: relative;

    .sepHorizontal {
      height: 1px;
      background-color: rgba(0, 0, 0, 0.09);
    }
  }
}
