@import "../../../../../styles/components.scss";

h3 {
  font-size: 20px;
  font-weight: 800;
}

loader {
  align-self: center;
}

.content {
  width: 82vw;
  display: flex;
  align-items: center;
  position: relative;
  overflow-x: scroll;
  gap: 4vw;
}
