# Fichiers de configuration et de développement
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.npmrc
**/.nvmrc
**/.env
**/Dockerfile
**/docker-compose*.yml
**/README.md

# Dossiers Node
**/node_modules
**/npm-debug.log
**/dist

# Fichiers et dossiers spécifiques au système d'exploitation
.DS_Store
**/Thumbs.db

# Fichiers de l'éditeur
**/.idea
**/*.swp
**/*.swo
**/*~

# Autres fichiers et dossiers
**/coverage
**/tmp
**/temp
