@import "../../../../../styles/components.scss";
@import "../../../../../styles/colors.scss";
@import "../../../../../styles/variables.scss";

$scale: 1.15;
$height: 50vw;
$width: 90vw;
$info-height: 12vw * $scale;
$width-info: 40vw;
$width-photo: 50vw;

.card {
  display: flex;
  position: relative;
  background-color: $firstry-white-2;
  border-radius: $border-radius-1;

  loader {
    align-self: center;
    position: absolute;
    left: 35vw;
  }

  .content {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;

    .photoRider {
      position: relative;
      z-index: 1;
      max-width: $width-photo;
      max-height: 105%;
      border-radius: $border-radius-1;
    }

    .infos {
      position: relative;
      right: 5vw;
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      align-items: flex-start;
      justify-content: flex-end;
      z-index: 5;
      padding-left: 8px;
      padding-right: 8px;
      height: 100%;
      width: 40vw;

      .name {
        color: $firstry-white-1;
        border-radius: $border-radius-1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 30%;

        .firstName {
          font-variation-settings: "wght" 500;
          font-size: 25px;
        }

        .lastName {
          font-size: 30px;
          font-variation-settings: "wght" 900;
          position: relative;
          bottom: 8px;
        }
      }

      .labels {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 0;
        color: white;
        flex-wrap: wrap;
        height: 40%;
        margin-bottom: 5vw;

        .label {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 5vh;
          width: 15vw;

          label {
            font-size: 14px;
            font-variation-settings: "wght" 700;
          }

          p {
            font-size: 11px;
            font-style: italic;
            font-variation-settings: "wght" 300;
          }

          .nationality {
            display: flex;
            align-items: center;

            .flag {
              margin-left: 7px;
              border-radius: 1px;
              height: 0.8vh;
              width: fit-content;
            }
          }
        }
      }
    }
  }

  .asset {
    align-self: center;
    position: relative;
    z-index: 5;
    right: 88.2vw * 3 + 5vw;
  }

  .logo {
    position: relative;
    z-index: 5;
    top: 2vw;
    right: 90vw * 2 + 20vw;
  }

  .shadow {
    position: absolute;
    z-index: 1;
    height: 100%;
    min-width: 100%;
    border-radius: $border-radius-1;
  }

  .quadrillage {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .card {
    height: 30vw;
  }

  .card .content .infos {
    position: relative;
    right: 0vw;
    width: 35vw;

    .name {
      height: 30%;

      .firstName {
        font-size: 40px;
      }

      .lastName {
        font-size: 55px;
      }
    }

    .labels {
      height: 30%;

      .label {
        label {
          font-variation-settings: "wght" 800;
          font-size: 25px;
        }

        p {
          font-size: 20px;
        }
      }
    }
  }
}
