<div class="main">
  <div *ngIf="isMobile">
    <div class="flexColumn alignCenter gap10">
      <h1>SALUT TOI.</h1>
      <p *ngIf="openTab == 0" class="textCenter">
        Bon retour parmi nous ! <br />
        Tu peux te connecter juste ici
      </p>
      <p *ngIf="openTab == 1" class="textCenter">
        Bienvenue sur Firstry ! <br />
        Tu peux créer ton compte en moins de 2min (j'te jure)
      </p>
    </div>
  </div>
  <card
    class="card"
    [img]="isMobile ? '' : '../../../assets/dashboard/DSC09103.jpg'"
    [btn]="isMobile ? false : true"
    btnIcon="fa-solid fa-xmark"
    (btnClicked)="closeModal()"
  >
    <p-tabView [(activeIndex)]="openTab">
      <p-tabPanel header="Connexion">
        <app-connexion (connected)="closeModal()"></app-connexion>
      </p-tabPanel>
      <p-tabPanel header="Inscription">
        <sign-up (registered)="closeModal()"></sign-up>
      </p-tabPanel>
    </p-tabView>
  </card>
</div>
