<div class="main">
  <card
    class="card"
    color="1"
    [img]="isMobile ? '' : '../../../assets/dashboard/DSC09103.jpg'"
    [btn]="isMobile ? false : true"
    btnIcon="fa-solid fa-xmark"
    (btnClicked)="closeModal()"
  >
    <p-tabView [(activeIndex)]="openTab">
      <p-tabPanel header="Connexion">
        <app-connexion (connected)="closeModal()"></app-connexion>
      </p-tabPanel>
      <p-tabPanel header="Inscription">
        <sign-up (registered)="closeModal()"></sign-up>
      </p-tabPanel>
    </p-tabView>
  </card>
</div>
