@import "../../../styles/variables.scss";
@import "../../../styles/colors.scss";

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7vw;
}

.dashboardNav {
  display: flex;

  .contestNav {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 5vw;
  }

  .cardNav {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2vw;

    a {
      font-size: $pc_fontNavSize;
      color: $firstry-black-2;
      font-variation-settings: "wght" $pc_fontNavWeight;
      font-family: "HankenGrotesk";
    }
  }
}

.title {
  align-self: center;
  margin: 0;
  font-size: $mobile_fontTitleSize;
}

.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 7vw;
}

@media (min-width: 768px) {
  .title {
    font-size: $pc_fontTitleSize;
    align-self: start;
  }

  .main {
    gap: 3vw;
  }

  .dashboardNav {
    padding-bottom: 8px;
    border-bottom: 1px solid $firstry-white-3;

    .contestNav {
      gap: 1vw;
    }

    .cardNav {
      flex: 3;
      gap: 5vw;

      a {
        font-size: $pc_fontNavSize;
        color: $firstry-black-2;
        font-variation-settings: "wght" $pc_fontNavWeight;
        font-family: "HankenGrotesk";
        border-radius: 10px;
        padding: 5px;
        padding-left: 12px;
        padding-right: 12px;
        cursor: pointer;
        transition: 0.3s;
        text-decoration: none;
      }

      a:hover {
        background-color: $firstry-white-2;
      }

      a.active {
        text-decoration: underline;
        font-variation-settings: "wght" $pc_fontNavActiveWeight;
      }
    }
  }
}
