<div class="main" [@fadeInOut]>
  <h1 class="mainTitle">Dashboard</h1>
  <!-- <card
    *ngIf="closePopup"
    title="Bienvenue sur votre dashboard !"
    [btn]="true"
    [btnIcon]="'fa-solid fa-xmark fa-lg'"
    (btnClicked)="closePopup = false"
  >
    <p>
      C'est ici que vous pourrez administrer toute l'organisation de votre
      contest.
    </p>
    <p>Commençons par créer une catégorie.</p>
  </card> -->
  <div
    class="navbarDasboard"
    *ngIf="contestsDdOptions.length > 0 && !isCreateContest"
  >
    <div class="flexRow alignCenter gap10">
      <btn
        icon="fa-solid fa-plus"
        type="third"
        (click)="isCreateContest = true"
      ></btn>
      <dropdown
        class="contestDropDown"
        [options]="contestsDdOptions"
        (selected)="selectContest($event.value, true)"
        [value]="selectedContestId"
      ></dropdown>
      <btn
        label="Voir la page du contest"
        type="third"
        [routerLink]="['/contests/preview/' + selectedContest._id]"
      ></btn>
    </div>
    <!-- <p *ngIf="selectedContest && selectedContest.isPublished">Publié</p>
    <p *ngIf="selectedContest && !selectedContest.isPublished">Non publié</p> -->
    <!-- <btn label="Créer un contest" routerLink="create-contest"></btn> -->
    <div class="navBtns" *ngIf="!isMobile && contestsDdOptions.length != 0">
      <nav-btn
        type="primary"
        size="l"
        label="Aperçu"
        icon="fa-solid fa-globe"
        routerLinkActive="active"
        routerLink="overview"
      ></nav-btn>
      <nav-btn
        type="primary"
        size="l"
        label="Catégories"
        icon="fa-solid fa-calendar"
        routerLinkActive="active"
        routerLink="categories"
      ></nav-btn>
      <nav-btn
        type="primary"
        size="l"
        label="Poules"
        icon="fa-solid fa-person-snowboarding"
        routerLinkActive="active"
        routerLink="pools"
      ></nav-btn>
      <nav-btn
        type="primary"
        size="l"
        label="Résultats"
        icon="fa-solid fa-list-ol"
        routerLinkActive="active"
        routerLink="results"
      ></nav-btn>
      <nav-btn
        type="primary"
        size="l"
        label="Paramêtres"
        icon="fa-solid fa-gear"
        routerLinkActive="active"
        routerLink="parameters"
      ></nav-btn>
    </div>
  </div>
  <loader class="flexRow alignSelfCenter" *ngIf="isLoading"></loader>
  <div *ngIf="!isLoading" class="content">
    <router-outlet *ngIf="!isCreateContest"></router-outlet>
    <div
      class="flexColumn gap10"
      *ngIf="contestsDdOptions.length == 0 || isCreateContest"
    >
      <btn
        icon="fa-solid fa-chevron-left"
        type="primary"
        label="Retour"
        (click)="isCreateContest = false"
      ></btn>
      <create-contest></create-contest>
    </div>
  </div>
</div>
