@import "../../../styles/variables.scss";

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5vw;
}

.title {
  align-self: center;
  margin: 0;
  font-size: $mobile_fontTitleSize;
}

.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5vw;
}

@media (min-width: 768px) {
  .title {
    font-size: $pc_fontTitleSize;
    align-self: start;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5vw;
  }

  contest-infos-summary {
    flex: 1;
  }

  list-category {
    flex: 3;
  }
}
