@import "../../../styles/variables.scss";
@import "../../../styles/colors.scss";

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $mobile_gap_card;
}

.navbarDasboard {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .navBtns {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2vw;

    a {
      font-size: $pc_fontNavSize;
      color: $firstry-black-2;
      font-variation-settings: "wght" $pc_fontNavWeight;
      font-family: "HankenGrotesk";
    }
  }
}

.title {
  align-self: center;
  margin: 0;
}

@media (min-width: 768px) {
  .title {
    align-self: start;
  }

  .main {
    gap: $pc_gap_card;
  }

  .navbarDasboard {
    padding-bottom: 8px;
    border-bottom: 1px solid $firstry-white-3;

    .contestDropDown {
      min-width: 10vw;
    }

    .navBtns {
      flex: 4;
      gap: 1vw;

      .active {
        ::ng-deep .third {
          background-color: $firstry-white-3;
          transition: 0.3s;
        }
      }
    }
  }
}
