<div class="main">
  <h1 class="mainTitle">Dashboard</h1>
  <!-- <card
    *ngIf="closePopup"
    title="Bienvenue sur votre dashboard !"
    [btn]="true"
    [btnIcon]="'fa-solid fa-xmark fa-lg'"
    (btnClicked)="closePopup = false"
  >
    <p>
      C'est ici que vous pourrez administrer toute l'organisation de votre
      contest.
    </p>
    <p>Commençons par créer une catégorie.</p>
  </card> -->
  <div class="navbarDasboard" *ngIf="contestsDdOptions.length > 0">
    <div class="flexRow alignCenter gap10">
      <dropdown
        class="contestDropDown"
        [options]="contestsDdOptions"
        [routes]="[{ label: 'Créer un contest', value: 'create-contest' }]"
        (selected)="selectContest($event)"
        [value]="selectedContestId"
      ></dropdown>
      <btn
        label="Voir la page du contest"
        type="third"
        [routerLink]="['/contests/preview/' + selectedContest._id]"
      ></btn>
    </div>
    <!-- <p *ngIf="selectedContest && selectedContest.isPublished">Publié</p>
    <p *ngIf="selectedContest && !selectedContest.isPublished">Non publié</p> -->
    <!-- <btn label="Créer un contest" routerLink="create-contest"></btn> -->
    <div class="navBtns" *ngIf="!isMobile && contestsDdOptions.length != 0">
      <nav-btn
        type="primary"
        size="l"
        label="Aperçu"
        icon="fa-solid fa-globe"
        routerLinkActive="active"
        routerLink="{{ selectedContestId }}/overview"
      ></nav-btn>
      <nav-btn
        type="primary"
        size="l"
        label="Planning"
        icon="fa-solid fa-calendar"
        routerLinkActive="active"
        routerLink="{{ selectedContestId }}/planning"
      ></nav-btn>
      <nav-btn
        type="primary"
        size="l"
        label="Riders"
        icon="fa-solid fa-person-snowboarding"
        routerLinkActive="active"
        routerLink="{{ selectedContestId }}/riders"
      ></nav-btn>
      <nav-btn
        type="primary"
        size="l"
        label="Résultats"
        icon="fa-solid fa-list-ol"
        routerLinkActive="active"
        routerLink="{{ selectedContestId }}/results"
      ></nav-btn>
      <nav-btn
        type="primary"
        size="l"
        label="Paramêtres"
        icon="fa-solid fa-gear"
        routerLinkActive="active"
        routerLink="{{ selectedContestId }}/parameters"
      ></nav-btn>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
    <create-contest *ngIf="contestsDdOptions.length == 0"></create-contest>
  </div>
</div>
