<form [formGroup]="photoForm">
  <h4>Ajouter une photo à votre compte !</h4>

  <div class="addPhoto" *ngIf="!imgConfirmed">
    <!-- <input type="file" accept="image/*" (change)="onUpload($event)" />
    <small>Votre photo ne doit pas dépasser les 4mo</small> -->
    <label *ngIf="imageChangedEvent == '' && !isLoading" class="labelAddPhoto">
      <input
        class="inputAddPhoto"
        type="file"
        accept=".png, .jpg, .jpeg, .heic"
        (change)="fileChangeEvent($event)"
      />
      <i class="fa-solid fa-add fa-xl"></i>
    </label>
    <loader *ngIf="isLoading"></loader>
    <image-cropper
      *ngIf="imageChangedEvent != ''"
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="ratio"
      [onlyScaleDown]="false"
      format="png"
      output="blob"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
    <btn
      *ngIf="imageChangedEvent != ''"
      (click)="confirmImage()"
      label="Confirmer"
      icon="fa-solid fa-check fa-2xs"
      iconPos="left"
    ></btn>
  </div>
  <div class="photo" *ngIf="imgConfirmed">
    <img
      [src]="sanitizer.bypassSecurityTrustUrl(croppedImage.objectUrl)"
      alt=""
    />
  </div>
</form>
