@import "./../../../../../../../styles/variables.scss";
@import "./../../../../../../../styles/colors.scss";

.format {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  gap: 1vw;

  .header {
    display: flex;
    align-items: center;
    gap: 1vw;

    h5 {
      font-size: $pc_fontLabelSize;
      font-variation-settings: "wght" $mobile_fontLabelWeight;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 0.5vw;

    .noRules {
      align-self: center;
    }

    .pointCategories {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 0.5vw;

      .pointCategory {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 0.5vw;
        width: 100%;

        .name {
          flex: 2;
        }

        .description {
          flex: 3;
        }

        .points {
          flex: 1;
        }
      }
    }

    .display {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1vw;

      .pointCategories {
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vw;

        .pointCategoryDisplay {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0.5vw;
          width: fit-content;
          background-color: white;
          // border: $firstry-black-2 solid 1px;
          border-radius: 10px;
          padding: 4px 6px;
          width: 100%;

          h4 {
            font-size: $pc_fontInputSize;
            font-variation-settings: "wght" 500;
          }

          b {
            font-variation-settings: "wght" 900;
          }
        }
      }

      .chart {
        max-width: 15vw;
        flex: 1;

        canvas {
          padding: 1vw;
        }
      }
    }

    .input {
      flex: 1;
    }
  }
}
