<div class="main">
  <label *ngIf="label != ''" for="addPhoto">{{ label }}</label>
  <div class="img">
    <img *ngIf="img && !isImageCroppring" [src]="img" alt="" />
    <img
      *ngIf="croppedImage && !isImageCroppring"
      [src]="sanitizer.bypassSecurityTrustUrl(croppedImage.objectUrl)"
      alt=""
    />

    <div class="addPhoto">
      <label
        *ngIf="imageChangedEvent == '' && !isLoading"
        class="labelAddPhoto"
      >
        <input
          class="inputAddPhoto"
          type="file"
          accept=".png, .jpg, .jpeg, .heic"
          (change)="fileChangeEvent($event)"
        />
        <i class="fa-solid fa-add fa-xl"></i>
        <div class="text" *ngIf="btnLabel">
          <p class="buttonLabel">{{ btnLabel }}</p>
          <p class="detail">{{ btnLabelDetail }}</p>
        </div>
      </label>
      <image-cropper
        *ngIf="imageChangedEvent != '' && !imgFailed && isImageCroppring"
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="ratio"
        [onlyScaleDown]="false"
        format="png"
        output="blob"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
      <btn
        *ngIf="imageChangedEvent != '' && !imgFailed && isImageCroppring"
        (click)="confirmImage()"
        label="Confirmer"
        icon="fa-solid fa-check fa-2xs"
        iconPos="left"
      ></btn>
      <note
        *ngIf="imgFailed"
        text="Erreur avec votre image, veuillez rafraichir la page."
      ></note>
    </div>
  </div>
</div>
