<card title="Sécurité">
  <div class="flexColumn gap10">
    <div class="field">
      <div *ngIf="!changeEmailEdit">
        <label>Email</label>
        <p>{{ user.email }}</p>
        <p
          *ngIf="isEmailChanging || (user.newEmail && user.newEmail != '')"
        ></p>
        <p *ngIf="isEmailChanging">
          Un email vous a été envoyé à votre nouvelle adresse email pour
          confirmer le changement.
        </p>
      </div>
      <card
        title="Changement d'email"
        size="m"
        *ngIf="changeEmailEdit"
        color="2"
      >
        <form [formGroup]="changeEmailForm">
          <input-text
            label="Nouvelle adresse email"
            [edit]="changeEmailEdit"
            placeholder="Nouvelle adresse email..."
            formControlName="newEmail"
            [error]="
              changeEmailForm.get('newEmail').touched &&
              changeEmailForm.get('newEmail').invalid
            "
          >
            <note text="Veuillez entrer votre nouvelle adresse email"></note
          ></input-text>
          <div class="formButtons">
            <btn
              label="Annuler"
              type="danger"
              icon="fa-solid fa-times"
              (click)="cancelEmailForm()"
            ></btn>
            <btn
              label="Valider"
              icon="fa-solid fa-check"
              (click)="submitEmailForm()"
            ></btn>
          </div>
        </form>
      </card>

      <btn
        label="Changer mon email"
        icon="fa-solid fa-arrows-rotate"
        (click)="changeEmailEdit = !changeEmailEdit"
      ></btn>
    </div>
    <div class="field">
      <div *ngIf="!changePasswordEdit">
        <label>Password</label>
        <p *ngIf="!isPasswordChanging">**************</p>
        <p *ngIf="isPasswordChanging">
          Un email vous a été envoyé pour confirmer votre nouveau mot de passe.
        </p>
      </div>

      <card
        title="Changement de mot de passe"
        size="m"
        *ngIf="changePasswordEdit"
        color="2"
      >
        <form [formGroup]="changePasswordForm">
          <input-text
            type="password"
            label="Nouveau mot de passe"
            placeholder="Nouveau mot de passe..."
            [edit]="changePasswordEdit"
            formControlName="newPassword"
          >
          </input-text>
          <input-text
            type="password"
            label="Confirmer votre nouveau mot de passe"
            placeholder="Nouveau mot de passe..."
            [edit]="changePasswordEdit"
            formControlName="newPassword2"
          >
            <note
              *ngIf="!isPasswordsMatching"
              type="errorLabel"
              text="Les mots de passes ne sont pas identiques !"
            ></note>
          </input-text>
          <div class="formButtons">
            <btn
              label="Annuler"
              type="danger"
              icon="fa-solid fa-times"
              (click)="cancelPasswordForm()"
            ></btn>
            <btn
              label="Valider"
              icon="fa-solid fa-check"
              (click)="submitPasswordForm()"
            ></btn>
          </div>
        </form>
      </card>
      <btn
        class="btn"
        label="Changer mon mot de passe"
        icon="fa-solid fa-arrows-rotate"
        (click)="changePasswordEdit = !changePasswordEdit"
      ></btn>
    </div>
  </div>
</card>
