<div
  class="card bg{{ bgColor }}"
  [ngStyle]="{ 'width.vw': width, 'height.vw': height }"
>
  <div class="content" [ngStyle]="{ 'width.vw': width }">
    <img
      *ngIf="!rider.photoUrl || rider.photoUrl == ''"
      src="../../../../../assets/riders/pnj.webp"
      alt="Rider"
      class="photoRider"
      [ngStyle]="{ 'width.vw': widthPhoto }"
    />
    <img
      *ngIf="rider.photoUrl && rider.photoUrl != ''"
      [ngSrc]="rider.photoUrl"
      fill
      alt="Rider"
      class="photoRider"
      fetchpriority="high"
      loading="eager"
    />

    <div class="infos">
      <ng-content class="ngContent"></ng-content>

      <div *ngIf="!sample">
        <div class="name">
          <h3 class="firstName">
            {{ rider.firstName | lowercase | Capitalize }}
          </h3>
          <h3 class="lastName">{{ rider.lastName | uppercase }}</h3>
        </div>
        <div class="sep"></div>
        <div class="footer">
          <p Capitalize class="sports">{{ rider.sports }}</p>
          <img
            *ngIf="rider.nationality"
            [src]="rider.nationality.flags.png"
            alt=""
            class="nationality"
          />
        </div>
      </div>
    </div>
  </div>
  <div
    class="shadow fadeBlackBg"
    [ngStyle]="{ 'min-width.vw': width, 'height.vw': height }"
  ></div>
  <quadrillage
    class="quadrillage"
    [ngStyle]="{ 'width.vw': width, 'height.vw': height }"
    [nbRows]="5"
    [nbColumns]="4"
  ></quadrillage>
</div>
