<div
  class="card bg{{ bgColor }}"
  [ngStyle]="{ 'width.vw': width, 'height.vw': height }"
>
  <div class="content" [ngStyle]="{ 'width.vw': width }">
    <img
      *ngIf="!rider.photoUrl || rider.photoUrl == ''"
      src="../../../../../assets/riders/pnj.webp"
      alt="Rider"
      class="photoRider"
      [ngStyle]="{ 'width.vw': widthPhoto }"
    />
    <img
      *ngIf="rider.photoUrl && rider.photoUrl != ''"
      [src]="rider.photoUrl"
      rel="preload"
      as="image"
      class="photoRider"
      [ngStyle]="{ 'width.vw': widthPhoto }"
    />

    <div class="infos">
      <ng-content class="ngContent"></ng-content>

      <div *ngIf="!sample">
        <div class="name">
          <h3 class="firstName">
            {{ rider.firstName | lowercase | Capitalize }}
          </h3>
          <h3 class="lastName flexRow alignCenter gap10">
            {{ rider.lastName | uppercase }}
            <svg
              *ngIf="rider.isVerified"
              class="icon"
              x="0px"
              y="0px"
              viewBox="0 0 51.4 50"
            >
              <style type="text/css">
                .st0 {
                  fill: #73b9ea;
                  stroke: white;
                  stroke-width: 5;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-miterlimit: 10;
                }
              </style>
              <path
                class="st0"
                d="M21.3,9.7l-7.5,4.3c-2.5,1.5-4.1,4.2-4.1,7.1l0,8.6c0,3,1.6,5.7,4.1,7.2l7.4,4.3c2.5,1.5,5.7,1.5,8.2,0l7.5-4.3
              c2.5-1.5,4.1-4.2,4.1-7.1l0-8.6c0-3-1.6-5.7-4.1-7.2l-7.4-4.3C27,8.3,23.9,8.3,21.3,9.7z"
              />
              <polyline class="st0" points="20.7,26.2 23.9,29.1 30.1,21.9 " />
            </svg>
          </h3>
        </div>
        <div class="sep"></div>
        <div class="footer">
          <p Capitalize class="sports">{{ rider.sports }}</p>
          <img
            *ngIf="rider.nationality"
            [src]="rider.nationality.flags.png"
            alt=""
            class="nationality"
          />
        </div>
      </div>
    </div>
  </div>
  <div
    class="shadow fadeBlackBg"
    [ngStyle]="{ 'min-width.vw': width, 'height.vw': height }"
  ></div>
  <quadrillage
    class="quadrillage"
    [ngStyle]="{ 'width.vw': width, 'height.vw': height }"
    [nbRows]="5"
    [nbColumns]="4"
  ></quadrillage>
</div>
