<form [formGroup]="riderForm">
  <div class="flexRow">
    <input-text
      name="lastName"
      type="Text"
      placeholder="Nom..."
      label="Nom"
      formControlName="lastName"
      [error]="
        touched &&
        (fus.isFieldInvalid('lastName') ||
          riderForm.get('lastName').value == '')
      "
    ></input-text>
    <input-text
      name="firstName"
      type="Text"
      placeholder="Prénom..."
      label="Prénom"
      formControlName="firstName"
      [error]="
        touched &&
        (fus.isFieldInvalid('firstName') ||
          riderForm.get('firstName').value == '')
      "
    ></input-text>
  </div>
  <input-text
    name="birthDate"
    type="date"
    placeholder="jj/mm/aaaa"
    label="Date de naissance"
    formControlName="birthDate"
    [error]="
      touched &&
      (fus.isFieldInvalid('birthDate') ||
        riderForm.get('birthDate').value == '')
    "
  ></input-text>
  <dropdown
    label="Nationalité"
    name="nationality"
    placeholder="Nationalité..."
    formControlName="nationality"
    [optionTemplate]="nationalityOptionTemplate"
    [options]="countries"
    [error]="
      touched &&
      (fus.isFieldInvalid('nationality') ||
        riderForm.get('nationality').value == '')
    "
  >
  </dropdown>
  <ng-template #nationalityOptionTemplate let-option>
    <div class="option flexRow">
      <img [src]="option.value.flags.png" style="height: 10px" alt="" />
      {{ option.label }}
    </div>
  </ng-template>
  <input-text
    [error]="
      touched &&
      (fus.isFieldInvalid('city') || riderForm.get('city').value == '')
    "
    name="city"
    type="Text"
    label="Ville"
    placeholder="Ville..."
    formControlName="city"
  ></input-text>

  <div class="inputGroup">
    <h4>Sports</h4>
    <chips-group
      [chips]="[
        { value: 'roller', name: 'Roller' },
        { value: 'trottinette', name: 'Trottinette' },
        { value: 'skate', name: 'Skate' },
        { value: 'quad', name: 'Quad' }
      ]"
      formControlName="sports"
    ></chips-group>
    <small
      *ngIf="
        touched &&
        (fus.isFieldInvalid('sports') || riderForm.get('sports').value == '')
      "
      class="p-error"
    >
      Veuillez choisir au moins un sport !
    </small>
  </div>
</form>
