<form [formGroup]="riderForm">
  <div class="flexRow">
    <input-text
      [error]="fus.isFieldInvalid('firstName')"
      name="firstName"
      type="Text"
      placeholder="Prénom..."
      label="Prénom"
      formControlName="firstName"
    ></input-text>
    <input-text
      [error]="fus.isFieldInvalid('lastName')"
      name="lastName"
      type="Text"
      placeholder="Nom..."
      label="Nom"
      formControlName="lastName"
    ></input-text>
  </div>
  <input-text
    [error]="fus.isFieldInvalid('lastName')"
    name="lastName"
    type="Date"
    placeholder="Nom..."
    label="Date de naissance"
    formControlName="birthDate"
  ></input-text>
  <!-- <div class="inputGroup">
    <h4>Date de naissance</h4>
    <p-calendar
      placeholder="Date de naissance"
      formControlName="birthDate"
      [class.ng-dirty]="fus.isFieldInvalid('birthDate')"
      [showIcon]="true"
    ></p-calendar>
  </div> -->
  <dropdown
    formControlName="ze"
    [options]="['Option 1', 'Option 2', 'Option 3']"
  ></dropdown>
  <ng-template #optionTemplate let-option>
    <option [value]="option.value">{{ option.label }} (custom)</option>
  </ng-template>
  <div class="inputGroup">
    <h4>Nationalité</h4>
    <p-autoComplete
      placeholder="Nationalité"
      formControlName="nationality"
      [forceSelection]="true"
      [suggestions]="filteredCountries"
      (completeMethod)="filterCountry($event)"
      field="name.common"
      [class.ng-dirty]="fus.isFieldInvalid('nationality')"
      [dropdown]="true"
    >
      <ng-template let-country pTemplate="item">
        <div class="option">
          <img src="{{ country.flags.png }}" />
          <div>{{ country.name.common }}</div>
        </div>
      </ng-template>
    </p-autoComplete>
  </div>
  <div class="inputGroup">
    <h4>Ville</h4>
    <input
      pInputText
      placeholder="Ville"
      formControlName="city"
      [class.ng-dirty]="fus.isFieldInvalid('city')"
      required
    />
  </div>

  <div class="inputGroup">
    <h4>Sports</h4>
    <chips-group
      [chips]="[
        { value: 'roller', name: 'Roller' },
        { value: 'trottinette', name: 'Trottinette' },
        { value: 'skate', name: 'Skate' },
        { value: 'quad', name: 'Quad' }
      ]"
      formControlName="sports"
    ></chips-group>
    <small *ngIf="fus.isFieldInvalid('sports')" class="p-error">
      Veuillez choisir au moins un sport !
    </small>
  </div>
</form>
