<form [formGroup]="riderForm">
  <div class="flexRow">
    <input-text
      [error]="fus.isFieldInvalid('lastName')"
      name="lastName"
      type="Text"
      placeholder="Nom..."
      label="Nom"
      formControlName="lastName"
    ></input-text>
    <input-text
      [error]="fus.isFieldInvalid('firstName')"
      name="firstName"
      type="Text"
      placeholder="Prénom..."
      label="Prénom"
      formControlName="firstName"
    ></input-text>
  </div>
  <input-text
    [error]="fus.isFieldInvalid('birthDate')"
    name="birthDate"
    type="date"
    placeholder="jj/mm/aaaa"
    label="Date de naissance"
    formControlName="birthDate"
  ></input-text>
  <!-- <div class="inputGroup">
    <h4>Date de naissance</h4>
    <p-calendar
      placeholder="Date de naissance"
      formControlName="birthDate"
      [class.ng-dirty]="fus.isFieldInvalid('birthDate')"
      [showIcon]="true"
    ></p-calendar>
  </div> -->
  <dropdown
    label="Nationalité"
    name="nationality"
    placeholder="Nationalité..."
    formControlName="nationality"
    [optionTemplate]="nationalityOptionTemplate"
    [options]="countries"
    [error]="fus.isFieldInvalid('nationality')"
  >
  </dropdown>
  <ng-template #nationalityOptionTemplate let-option>
    <div class="option flexRow">
      <img [src]="option.value.flags.png" style="height: 10px" alt="" />
      {{ option.label }}
    </div>
  </ng-template>
  <input-text
    [error]="fus.isFieldInvalid('birthDate')"
    name="birthDate"
    type="Text"
    label="Ville"
    placeholder="Ville..."
    formControlName="city"
  ></input-text>

  <div class="inputGroup">
    <h4>Sports</h4>
    <chips-group
      [chips]="[
        { value: 'roller', name: 'Roller' },
        { value: 'trottinette', name: 'Trottinette' },
        { value: 'skate', name: 'Skate' },
        { value: 'quad', name: 'Quad' }
      ]"
      formControlName="sports"
    ></chips-group>
    <small *ngIf="fus.isFieldInvalid('sports')" class="p-error">
      Veuillez choisir au moins un sport !
    </small>
  </div>
</form>
