@import "../../../../../styles/colors.scss";
@import "../../../../../styles/variables.scss";

.chips-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: $mobile_marginInput;
}

.chips {
  display: flex;
  flex-direction: column;
}

.tag-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media only screen and (min-width: 768px) {
  .chips {
    margin-top: $pc_marginLabel;
  }
}
