@import "../../../../../styles/colors.scss";
@import "../../../../../styles/variables.scss";

.chips-group {
  display: flex;
}

label {
  font-variation-settings: "wght" $mobile_fontLabelWeight;
  font-family: "HankenGrotesk";
  color: $firstry-black-2;
  font-size: $mobile_fontLabelSize;
}

.chips {
  margin-top: $mobile_marginInput;
  display: flex;
  flex-wrap: wrap;
  gap: 3vw;
}

@media only screen and (min-width: 768px) {
  .chips {
    margin-top: $pc_marginLabel;
    gap: 1vw;
  }
}
