.categories {
  .active {
    color: white;
  }

  .category {
    cursor: pointer;

    .titleCategory {
      display: flex;
      align-items: center;
      width: 50%;
      gap: 10px;

      h3,
      p {
        width: fit-content;
      }

      h3,
      p {
        text-align: center;
      }
    }

    .tags {
      display: flex;
      gap: 10px;
    }
  }
}

.registerCard {
  .footer {
    align-self: flex-end;
    display: flex;
  }
}
