<div
  *ngIf="
    contest && !isPaymentFailed && !isPaymentSucceeded && !isAlreadyRegistered
  "
  [class]="isMobile ? 'flexCardColumn' : 'flexCardRow'"
>
  <card class="flex1 categories" title="Catégories"
    ><div class="flexCardColumn">
      <p *ngIf="contest.categories.length == 0">
        Ce contest n'a pas encore de catégories !
      </p>
      <card
        *ngFor="let category of categories"
        (click)="selectCategory(category)"
        [class.active]="selectedCategory == category"
        class="category"
        color="{{ selectedCategory == category ? 'black' : '2' }}"
        size="s"
        ><div class="flexRow alignCenter spaceBetween">
          <div class="titleCategory">
            <h3>{{ category.name }}</h3>
            <p>-</p>
            <p>{{ category.sports }}</p>
          </div>
          <div class="tags">
            <info-tag
              size="l"
              icon="fa-solid fa-euro-sign"
              label="{{ category.registerPrice }}"
            ></info-tag>
            <info-tag
              size="l"
              icon="fa-solid fa-user"
              label="{{ category.NbRegistration }} / {{ category.maxRiders }}"
            ></info-tag>
          </div></div
      ></card>
    </div>
  </card>
  <i
    *ngIf="selectedCategory"
    class="fa-solid fa-chevron-{{ isMobile ? 'down' : 'right' }} fa-2xl"
  ></i>
  <card
    *ngIf="isLoggedin && !isPaymentStep && selectedCategory"
    class="flex1 registerCard"
    [title]="'Inscription - ' + selectedCategory.name"
  >
    <div class="flexColumn gap10">
      <div
        class="flexColumn"
        *ngIf="
          selectedCategory.description &&
          selectedCategory.description.length > 0
        "
      >
        <label>Description</label>
        <p>{{ selectedCategory.description }}</p>
      </div>

      <div class="flexColumn gap10 content">
        <div [class]="isMobile ? 'flexCardColumn' : 'flexCardRow'">
          <card
            *ngFor="let step of selectedCategory.steps"
            class="flex1"
            color="2"
            size="s"
            ><div class="stepCard">
              <div class="stepTitle spaceBetween">
                <h3>{{ step.name }}</h3>
                <p class="italic">
                  {{ step.startDate | date : "dd/MM/yyyy - hh:mm" }}
                </p>
              </div>
              <div class="stepContent">
                <div class="flexColumn spaceAround alignCenter flex1">
                  <info-tag
                    size="l"
                    icon="fa-solid fa-user"
                    label="Poules de {{ step.ridersPerPool }}"
                  ></info-tag>
                  <info-tag
                    *ngIf="step.ridersQualifiedCount > 0"
                    size="l"
                    icon="fa-solid fa-check"
                    label="Qualifié.es {{ step.ridersPerPool }}"
                  ></info-tag>
                </div>
                <div class="sep"></div>
                <div class="format flex1">
                  <h4 class="textCenter">Format</h4>
                  <div
                    *ngFor="let stepFormat of step.rules.stepFormats"
                    class="stepFormat"
                  >
                    <info-tag size="l" [label]="getRunLabel(stepFormat)">
                    </info-tag>
                    <div class="sep"></div>
                  </div>
                </div>
              </div>
            </div>
          </card>
        </div>
      </div>
      <div
        class="flexColumn"
        *ngIf="
          selectedCategory &&
          selectedCategory.isParentalAuthorizationRequired &&
          isRiderMinor
        "
      >
        <label
          >Attention ! Une autorisation parentale sera exigée sur place pour
          cette catégorie</label
        >
      </div>
      <div *ngIf="contest.rulesFileUrl && contest.rulesFileUrl.length > 0">
        <p>
          En vous inscrivant, vous acceptez les
          <a [href]="contest.rulesFileUrl" target="_blank">règles du contest</a
          >.
        </p>
      </div>
      <div class="footer">
        <div class="price">
          <h4>
            <b
              >Prix de l'inscription : {{ selectedCategory.registerPrice }} €</b
            >
          </h4>
        </div>
        <btn
          label="Passer au paiement"
          type="primary"
          (click)="register()"
        ></btn>
      </div>
    </div>
  </card>
  <card *ngIf="!isLoggedin" class="flex1 connectCard" [fitContent]="true"
    ><h2 class="textCenter">Veuillez vous connecter pour vous inscrire</h2>
    <div class="flexRow spaceAround buttons">
      <btn label="Je me connecte" (click)="signinup('login')"></btn>
      <btn label="Je créer un compte" (click)="signinup('register')"></btn>
    </div>
  </card>
  <card title="Paiement" class="flex1" *ngIf="isLoggedin && isPaymentStep">
    <paiement
      [amount]="selectedCategory.registerPrice"
      [clientSecret]="clientSecret"
      (paymentSucceeded)="paymentSucceeded()"
      (paymentFailed)="paymentFailed()"
    ></paiement>
  </card>
</div>
<card class="success" *ngIf="!isPaymentStep && isPaymentSucceeded && contest">
  <div class="flexColumn alignCenter gap10">
    <h2>
      Merci pour votre inscription au contest {{ contest.name }} !
      <i class="fa-solid fa-check"></i>
    </h2>
    <p>
      Rendez-vous le {{ contest.startDate | date : "dd/MM" }} à
      {{ selectedCategory.steps[0].startDate | date : "hh" }}h !
    </p>
    <div class="flexColumn alignCenter gap10" *ngIf="isRiderMinor">
      <p *ngIf="selectedCategory.isParentalAuthorizationRequired">
        Attention ! Il vous faudra une autorisation parentale pour participer à
        cette catégorie.
      </p>
      <btn
        label="Télécharger l'autorisation parentale"
        (click)="downloadParentalAuthorization()"
      ></btn>
    </div>
    <p>Vous pouvez retrouver toutes vos inscriptions dans votre compte.</p>
    <div class="flexRow gap10">
      <btn label="Mon compte" type="secondary" routerLink="/account"></btn>
      <btn label="Retour à l'accueil" routerLink=""></btn>
    </div>
  </div>
</card>
<card *ngIf="!isPaymentStep && isPaymentFailed && contest">
  <div class="flexColumn alignCenter gap10">
    <h2>
      <i class="fa-solid fa-triangle-exclamation"></i>
      Erreur lors de votre paiement
    </h2>
    <p>
      Veuillez rafraichir la page et réessayer. Si le problème persiste, merci
      de contacter le support à hello@firstry.fr
    </p>
    <div class="flexRow gap10">
      <btn label="Rafraichir la page" (click)="reloadPage()"></btn>
      <btn label="Retour à l'accueil" routerLink=""></btn>
    </div>
  </div>
</card>
<card *ngIf="isAlreadyRegistered">
  <div class="flexColumn gap30">
    <div class="flexColumn alignCenter gap10">
      <h2>Vous êtes déjà inscrit au contest {{ contest.name }} !</h2>
      <p>
        Rendez-vous le {{ contest.startDate | date : "dd/MM" }} à
        {{ selectedCategory.steps[0].startDate | date : "hh" }}h !
      </p>
      <p>Vous pouvez retrouver toutes vos inscriptions dans votre compte.</p>
      <div class="flexRow gap10">
        <btn label="Mon compte" type="secondary" routerLink="/account"></btn>
        <btn label="Retour à l'accueil" routerLink=""></btn>
      </div>
    </div>
    <div class="flexColumn alignCenter gap10">
      <h3>Vous souhaitez vous inscrire à une autre catégorie du contest ?</h3>
      <btn
        label="Voir les catégories"
        (click)="isAlreadyRegistered = false"
      ></btn>
    </div>
  </div>
</card>
<modal
  *ngIf="isLoginModalOpen && !isMobile"
  [isVisible]="isLoginModalOpen"
  (cancelled)="isLoginModalOpen = false"
  ><app-login
    [openTab]="0"
    (modalClosed)="isLoginModalOpen = !isLoginModalOpen"
    [ngStyle]="{ 'z-index': 1000 }"
  ></app-login
></modal>
