p {
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 10px;

  h3,
  p {
    width: fit-content;
  }

  h3,
  p {
    text-align: center;
  }
}

.footer {
  align-self: flex-end;
  display: flex;
}

.gap {
  gap: 10px;
}
