<h1 class="mainTitle">Validation</h1>
<div class="container">
  <card
    *ngIf="isPasswordValidated"
    class="card"
    title="Votre nouveau mot de passe a bien été validé !"
    [fitContent]="true"
  >
    <div class="content">
      <p>
        Lors de votre prochaine connexion, il faudra utiliser votre nouveau mot
        de passe.
      </p>
      <btn
        label="Retour à l'accueil"
        icon="fa-solid fa-paper-home"
        routerLink="/"
      ></btn>
    </div>
  </card>
  <card *ngIf="!isTokenValid" class="card" title="Oups !" [fitContent]="true">
    <div class="content">
      <p>
        Votre lien est incorrect ou votre nouveau mot de passe a déjà été validé
        !
      </p>
      <btn
        label="Retour à mon compte"
        icon="fa-solid fa-paper-home"
        routerLink="/account"
      ></btn>
    </div>
  </card>
</div>
