<div class="main">
  <div
    *ngIf="isLoggedIn && user.role != 'admin'"
    class="flexRow spaceBetween alignCenter account"
    (click)="toggleAccountOption = !toggleAccountOption"
  >
    <div *ngIf="user.role == 'rider'" class="name">
      <h4 class="firstName">{{ user.rider.firstName }}</h4>
      <h5>{{ user.rider.lastName }}</h5>
    </div>
    <div *ngIf="user.role == 'organizer'" class="name">
      <h4 class="firstName" Capitalize>{{ user.organizer.name }}</h4>
    </div>
    <img
      src="{{
        user.role == 'rider' ? user.rider.photoUrl : user.organizer.photoUrl
      }}"
      alt=""
    />
    <badge *ngIf="alert" class="notification" type="danger">!!</badge>
  </div>
  <div *ngIf="!isLoggedIn && !isMobile" class="btns">
    <btn type="transparent" label="Connexion" (click)="openModal(0)"></btn>
    <btn type="primary" label="S'inscrire" (click)="openModal(1)"></btn>
  </div>
  <div *ngIf="!isLoggedIn && isMobile" class="btns">
    <btn type="transparent" label="Connexion" routerLink="login"></btn>
    <btn type="primary" label="S'inscrire" routerLink="register"></btn>
  </div>
  <div *ngIf="!toggleAccountOption" class="accountOptions">
    <a
      class="flexRow alignCenter gap10"
      routerLink="/account"
      (click)="toggleAccountOption = !toggleAccountOption"
      >Mon compte <badge type="danger" *ngIf="alert">!!</badge></a
    >
    <a (click)="logout()" (click)="toggleAccountOption = !toggleAccountOption"
      >Se déconnecté</a
    >
  </div>
  <div *ngIf="isLoggedIn && user.role == 'admin'">
    <btn (click)="logout()" label="Se déconnecté"></btn>
  </div>
</div>
<modal
  *ngIf="isModalOpen && !isMobile"
  [isVisible]="isModalOpen"
  (cancelled)="isModalOpen = false"
  ><app-login
    [openTab]="indexLogin"
    (modalClosed)="isModalOpen = !isModalOpen"
  ></app-login
></modal>
