<form [formGroup]="userForm">
  <div class="inputGroup">
    <h4 for="role">Je suis un.e</h4>
    <div class="inputRowGroup">
      <chips-group
        [isBinary]="true"
        [preSelect]="true"
        [chips]="[
          { value: 'rider', name: 'Rider' },
          { value: 'organizer', name: 'Contest' }
        ]"
        formControlName="role"
      ></chips-group>
    </div>
  </div>
  <input-text
    [error]="fus.isFieldInvalid('email') || !emailAvailable"
    name="email"
    type="Email"
    placeholder="Email..."
    label="Votre email"
    formControlName="email"
  >
    <note
      *ngIf="userForm.get('email').errors"
      type="errorLabel"
      text="Email invalide"
    ></note>
    <note
      *ngIf="!emailAvailable"
      type="errorLabel"
      text="Email déjà utilisé"
    ></note>
  </input-text>
  <input-text
    [error]="fus.isFieldInvalid('password')"
    name="password"
    type="Password"
    placeholder="Mot de passe..."
    label="Votre mot de passe"
    formControlName="password"
  >
    <note
      type="errorLabel"
      text="Votre mot de passe doit faire au moins 7 caractère et contenir un chiffre"
      *ngIf="fus.isFieldInvalid('password')"
    ></note>
  </input-text>
  <div class="footer">
    <!-- <button pButton type="button" label="Test" (click)="test()"></button> -->
    <p class="signUpStep">Etape 1 sur 3</p>

    <btn
      (click)="next()"
      label="Suivant"
      icon="fa-solid fa-angles-right fa-2xs"
      iconPos="right"
      inputType="submit"
    ></btn>
  </div>
</form>
