<card
  [btn]="!edit"
  btnIcon="fa-solid fa-pen-to-square fa-lg"
  (btnClicked)="edit = !edit"
  title="Informations générale"
>
  <form class="infosForm" [formGroup]="form">
    <input-text
      placeholder="Nom..."
      label="Nom du contest"
      formControlName="name"
      [edit]="edit"
      [error]="_fus.isFieldInvalid('name')"
    ></input-text>
    <input-textarea
      size="m"
      placeholder="Description..."
      label="Description du contest"
      formControlName="description"
      [edit]="edit"
      [error]="_fus.isFieldInvalid('description')"
    ></input-textarea>
    <div class="flexRow spaceBetween gap10">
      <input-date
        type="Date"
        label="Date de début"
        formControlName="startDate"
        class="fullWidth"
        [edit]="edit"
        [error]="_fus.isFieldInvalid('startDate')"
      >
        <note
          type="errorLabel"
          *ngIf="_fus.isFieldInvalid('startDate')"
          text="La date de début doit être antérieure à la date de fin et à la date limite d'inscription"
        ></note>
      </input-date>
      <input-date
        type="Date"
        label="Date de fin"
        formControlName="endDate"
        class="fullWidth"
        [edit]="edit"
        [error]="_fus.isFieldInvalid('endDate')"
      ></input-date>
      <input-date
        placeholder="jj/mm/aaaa"
        label="Date limite d'inscription"
        formControlName="registrationEndDate"
        class="fullWidth"
        [edit]="edit"
        [error]="_fus.isFieldInvalid('registrationEndDate')"
      ></input-date>
    </div>
    <input-adress
      [edit]="edit"
      label="Lieu"
      formControlName="location"
    ></input-adress>
    <input-chips
      [options]="[
        { value: 'roller', label: 'Roller' },
        { value: 'trottinette', label: 'Trottinette' },
        { value: 'skate', label: 'Skate' },
        { value: 'quad', label: 'Quad' }
      ]"
      [edit]="edit"
      [error]="_fus.isFieldInvalid('sports')"
      label="Sports"
      formControlName="sports"
    ></input-chips>
    <slide-input
      [edit]="edit"
      label="Inscription payante ?"
      formControlName="enablePayment"
    ></slide-input>
    <note
      *ngIf="form.errors?.dateOrderInvalid && (form.submitted || form.dirty)"
      type="errorLabel"
      text="La date de début doit être antérieure à la date de fin et supérieure à la date limite d'inscription."
    >
    </note>
    <div class="formButtons" *ngIf="edit">
      <btn
        (click)="cancelInfos()"
        type="danger"
        label="Annuler"
        icon="fa-solid fa-xmark fa-lg"
      ></btn>
      <btn
        (click)="saveInfos()"
        type="valid"
        label="Confirmer"
        icon="fa-solid fa-check fa-lg"
      ></btn>
    </div>
  </form>
</card>
