@import "../../../../../styles/components.scss";
@import "../../../../../styles/colors.scss";
@import "../../../../../styles/variables.scss";

$scale: 1;
$height: 190px * $scale;
$width: 40vw * $scale;
$info-height: 14vw * $scale;
$bottom-photo: 16px;
$bottom-infos: $bottom-photo * 4.6;

.card {
  display: flex;
  position: relative;
  width: $width;
  background-color: $firstry-white-2;
  border-radius: $border-radius-1;
  margin: 0;

  .content {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .photoRider {
      position: relative;
      z-index: 1;
      border-radius: $border-radius-1;
    }

    .infos {
      position: absolute;
      height: $info-height;
      z-index: 5;
      padding-left: 8px;
      padding-right: 8px;
      margin-bottom: 4px;

      .name {
        color: $firstry-white-1;
        border-radius: $border-radius-1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .firstName {
          font-variation-settings: "wght" 300;
          font-size: 11px;
        }

        .lastName {
          font-size: 13px;
          font-variation-settings: "wght" 700;
          position: relative;
          bottom: 3px;
        }
      }

      .sep {
        height: 1px;
        width: 20px;
        background-color: white;
        margin-bottom: 4px;
      }

      .footer {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 0;

        .sports {
          color: white;
          font-size: 11px;
          font-style: italic;
          font-variation-settings: "wght" 100;
        }

        .nationality {
          position: relative;
          border-radius: 1px;
          height: 0.8vh;
          right: 5vw;
        }
      }
    }
  }

  .shadow {
    position: absolute;
    z-index: 1;
    border-radius: $border-radius-1;
  }

  .quadrillage {
    position: absolute;
  }
}
