@import "../../../../../styles/components.scss";
@import "../../../../../styles/colors.scss";
@import "../../../../../styles/variables.scss";

$scale: 1;
$height: 190px * $scale;
$width: 40vw * $scale;
$info-height: 14vw * $scale;
$bottom-photo: 16px;
$bottom-infos: $bottom-photo * 4.6;

.card {
  display: flex;
  position: relative;
  cursor: pointer;
  width: $width;
  background-color: $firstry-white-2;
  border-radius: $border-radius-1;
  margin: 0;

  .content {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .photoRider {
      position: relative;
      z-index: 1;
      border-radius: $border-radius-1;
    }

    .infos {
      position: absolute;
      z-index: 5;
      padding-left: 8px;
      padding-right: 8px;
      margin-bottom: 4px;
      width: 100%;

      .name {
        color: $firstry-white-1;
        border-radius: $border-radius-1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .firstName {
          font-variation-settings: "wght" 300;
          font-size: 11px;
        }

        .lastName {
          font-size: 13px;
          font-variation-settings: "wght" 700;
          position: relative;
          bottom: 3px;
        }
      }

      .sep {
        height: 1px;
        width: 20px;
        background-color: white;
        margin-bottom: 4px;
      }

      .footer {
        display: flex;
        justify-content: space-between;

        .sports {
          color: white;
          font-size: 11px;
          font-style: italic;
          font-variation-settings: "wght" 100;
        }

        .nationality {
          align-self: center;
          border-radius: 2px;
          height: 8px;
        }
      }
    }
  }

  .shadow {
    position: absolute;
    z-index: 1;
    border-radius: $border-radius-1;
    bottom: 0;
  }

  .quadrillage {
    position: absolute;
    bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .card .content .infos .name {
    .firstName {
      position: relative;
      top: 7px;
      font-size: 23px;
    }

    .lastName {
      font-size: 30px;
    }
  }

  .card .content .infos .sep {
    margin-bottom: 7px;
  }

  .card .content .infos .footer {
    .sports {
      font-size: 15px;
    }

    .nationality {
      height: 10px;
    }
  }
}
