<card
  class="card"
  [img]="
    contest.branding && contest.branding
      ? contest.branding.poster
      : 'https://storage.googleapis.com/firstry-7e136.appspot.com/contests/651d9e4c0a6aa7dd67858861/FISE%20Montpellier_poster.png?GoogleAccessId=firebase-adminsdk-v4ylh%40firstry-7e136.iam.gserviceaccount.com&Expires=16447014000&Signature=aWFB0qxsXCsoBKbPlIoBj6Bdi2qB0gDzwQuXoETtQ%2BsM7XrNuszizcvmEJBqllS2IMBJqFJHCUfS6ZqP2qBJoDmmAMNJKcCdNwDEe9fOtc2DNIaCaTr0bomiN%2BNtXVHLMwTOYeNNpqSEIY%2FX%2B%2F8XH31kGSlAbWARUEm64lVsMsHnVqPUr0wMTMmQkFIM3ezaXPaTDWese7Z8ILPHRKNtn%2FGCnGARLgXzwrxDFHU8nWfFNnkI9nJVVRcKcXLLlQQmnKylNT253jyU3VPNbMGO6UgDDxlpeqbiXror6kCb7kGvS77bgDcxTYHQ1XufJpFD0RpXUPSA%2FmRTM7Nxv8XqWg%3D%3D'
  "
>
  <h1>{{ contest.name }}</h1>
  <div class="tags">
    <info-tag
      icon="fa-solid fa-location-dot"
      [label]="contest.location.city"
    ></info-tag>
    <info-tag
      icon="fa-solid fa-calendar"
      [label]="
        (contest.startDate | date : 'dd/MM/yyyy') +
        ' - ' +
        (contest.endDate | date : 'dd/MM/yyyy')
      "
    ></info-tag>
  </div>
  <div class="footer">
    <btn
      iconPos="right"
      icon="fa-solid fa-circle-chevron-right"
      label="Détails"
      type="fourth"
      class="test"
    ></btn>
  </div>
</card>
