@import "../../../../styles/variables.scss";
@import "../../../../styles/colors.scss";

.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 90vw;
  position: relative;

  h1 {
    font-size: 22px;
    font-variation-settings: "wght" 900;
    width: 100%;
  }

  .tags {
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    gap: 1.5vw;
  }

  .footer {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
  }
}

@media only screen and (min-width: 768px) {
  .card {
    width: 35vw;
    height: 17vw;

    .tags {
      gap: 0.5vw;
    }
  }
}
