<card
  class="card"
  [img]="contest.branding && contest.branding ? contest.branding.poster : ''"
  imgHeight="15"
>
  <h1>{{ contest.name }}</h1>
  <div class="tags">
    <info-tag
      icon="fa-solid fa-location-dot"
      [label]="contest.location.city"
    ></info-tag>
    <info-tag
      icon="fa-solid fa-calendar"
      [label]="
        (contest.startDate | date : 'dd/MM/yyyy') +
        ' - ' +
        (contest.endDate | date : 'dd/MM/yyyy')
      "
    ></info-tag>
  </div>
  <div class="footer">
    <button>Details ></button>
  </div>
</card>
