<h1 class="mainTitle">Admins</h1>
<div class="navBtns">
  <nav-btn
    type="primary"
    size="l"
    label="Aperçu"
    icon="fa-solid fa-globe"
    routerLinkActive="active"
    routerLink="overview"
    [routerLinkActiveOptions]="{ exact: true }"
  ></nav-btn>
  <nav-btn
    type="primary"
    size="l"
    label="Riders"
    icon="fa-solid fa-list"
    routerLinkActive="active"
    routerLink="riders"
  ></nav-btn>
  <nav-btn
    type="primary"
    size="l"
    label="Contests"
    icon="fa-solid fa-check"
    routerLinkActive="active"
    routerLink="contests"
  ></nav-btn>
  <nav-btn
    type="primary"
    size="l"
    label="Signalements"
    icon="fa-solid fa-triangle-exclamation"
    routerLinkActive="active"
    routerLink="reports"
  ></nav-btn>
</div>
<router-outlet></router-outlet>
