<card
  title="Création de votre contest"
  class="card"
  img="../../../../assets/dashboard/DSC09103.jpg"
  cardWidth="70"
>
  <form [formGroup]="contestForm">
    <input-text
      name="name"
      type="Text"
      placeholder="Nom..."
      label="Nom du contest"
      formControlName="name"
      [error]="
        touched &&
        (fus.isFieldInvalid('name') || contestForm.get('name').value == '')
      "
    ></input-text>

    <div class="inputGroup">
      <chips-group
        label="Disciplines"
        [chips]="[
          { value: 'roller', name: 'Roller' },
          { value: 'trottinette', name: 'Trottinette' },
          { value: 'skate', name: 'Skate' },
          { value: 'quad', name: 'Quad' }
        ]"
        formControlName="sports"
      ></chips-group>
      <note
        *ngIf="
          touched &&
          (fus.isFieldInvalid('sports') ||
            contestForm.get('sports').value == '')
        "
        type="errorLabel"
        text="Veuillez choisir au moins un sport !"
      >
      </note>
    </div>

    <div class="flexRow gap10">
      <input-date
        name="startDate"
        placeholder="jj/mm/aaaa"
        label="Date de début"
        formControlName="startDate"
        [error]="
          touched &&
          (fus.isFieldInvalid('startDate') ||
            contestForm.get('startDate').value == '')
        "
      >
        <note
          *ngIf="
            touched &&
            (fus.isFieldInvalid('startDate') ||
              contestForm.get('startDate').value == '')
          "
          type="errorLabel"
          text="La date de début doit être supérieur à la date du jour."
        ></note>
      </input-date>
      <input-date
        name="endDate"
        placeholder="jj/mm/aaaa"
        label="Date de fin"
        formControlName="endDate"
        [error]="
          touched &&
          (fus.isFieldInvalid('endDate') ||
            contestForm.get('endDate').value == '')
        "
      ></input-date>
    </div>

    <input-adress
      label="Lieu"
      formControlName="location"
      [error]="
        touched &&
        (fus.isFieldInvalid('endDate') ||
          contestForm.get('endDate').value == '')
      "
    ></input-adress>

    <slide-input label="Inscription payante ?" formControlName="enablePayment">
      <note
        *ngIf="contestForm.get('enablePayment').value"
        text="Dans le cas d'un contest payant, des informations fiscales seront
  demandées."
      ></note>
    </slide-input>

    <note
      *ngIf="contestForm.errors?.dateOrderInvalid"
      type="errorLabel"
      text="La date de début doit être antérieure à la date de fin et supérieure à la date limite d'inscription."
    >
    </note>

    <btn
      (click)="submit()"
      label="Valider"
      icon="fa-solid fa-check"
      iconPos="right"
    ></btn>
  </form>
</card>
