<div [class]="isMobile ? 'flexCardColumn' : 'flexCardRow'" [@fadeInOut]>
  <div class="left flexCardColumn">
    <div class="flexCardRow">
      <overview-registrations
        [nbMaxRegistrations]="nbMaxRegistrations"
        [registrations]="registrations"
        [pendingRegistrations]="pendingRegistrations"
        [contest]="contest"
      ></overview-registrations>
      <contest-state class="flex1" [contest]="contest"></contest-state>
    </div>
    <rider-state-handler
      [registrations]="pendingRegistrations"
      class="flex1 test"
    ></rider-state-handler>
  </div>
  <div class="right">
    <planning
      *ngIf="contest && contest.categories"
      [categories]="contest.categories"
      [contest]="contest"
      [edit]="true"
    ></planning>
  </div>
  <!-- <create-category [contest]="contests[0]"></create-category> -->
</div>
