<div [class]="isMobile ? 'flexCardColumn' : 'flexCardRow'" [@fadeInOut]>
  <div class="left" [class]="isMobile ? 'flexCardColumn' : 'flexCardRow'">
    <contest-infos-summary [contest]="contest"></contest-infos-summary>
    <list-categories [contest]="contest"></list-categories>
  </div>
  <div class="right">
    <planning
      *ngIf="contest && contest.categories"
      [categories]="contest.categories"
      [contest]="contest"
      [edit]="true"
    ></planning>
  </div>
  <!-- <create-category [contest]="contests[0]"></create-category> -->
</div>
