@import "../../../../styles/variables.scss";

@media (min-width: 768px) {
  .left {
    flex: 2;
    height: fit-content;
  }

  .right {
    flex: 1;
  }

  contest-infos-summary {
    flex: 1;
  }

  list-category {
    flex: 1;
  }
}
