<card title="Réinitialiser mon mot de passe" color="2" size="m">
  <form *ngIf="!isPasswordResetAsked" [formGroup]="form">
    <input-text
      type="email"
      label="Email"
      [error]="_fus.isFieldInvalid('email')"
      placeholder="Email..."
      formControlName="email"
    >
    </input-text>
    <note
      *ngIf="isEmailUnknown"
      type="errorLabel"
      text="Cet email n'existe pas."
    ></note>
    <div class="formButtons JflexEnd">
      <btn
        label="Valider"
        (click)="resetPassword()"
        icon="fa-solid fa-check"
      ></btn>
    </div>
  </form>
  <div *ngIf="isPasswordResetAsked">
    <p>
      Votre demande a bien été prise en compte. <br /><br />
      Un email vous a été envoyé pour réinitialiser votre mot de passe.
    </p>
  </div>
</card>
