@import "../../../../styles/colors.scss";
@import "../../../../styles/components.scss";

option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2vw;
  padding-right: 2vw;
}

.signUpStep {
  color: $firstry-white-4;
  font-size: 13px;
}

.content {
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
}
