img {
  height: 20px;
  width: auto;
}

option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2vw;
  padding-right: 2vw;
}

.p-steps {
  padding-top: 2vh;
  nav > ul > {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20vw;
  }
}

.card {
  box-shadow: none;
}

.content {
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .inputGroup {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}
