img {
  height: 20px;
  width: auto;
}

option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2vw;
  padding-right: 2vw;
}

.content {
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}
