<!-- <p-steps [model]="items" [activeIndex]="activeIndex"></p-steps> -->

<div class="content">
  <div *ngIf="activeIndex === 0">
    <signup-credentials-form
      [userForm]="credentialsForm"
      [emailAvailable]="emailAvailable"
    ></signup-credentials-form>
    <div class="footer">
      <!-- <button pButton type="button" label="Test" (click)="test()"></button> -->
      <p>Etape {{ activeIndex + 1 }} sur 3</p>
      <button
        pButton
        type="button"
        label="Suivant"
        (click)="next(credentialsForm)"
      ></button>
    </div>
  </div>

  <div *ngIf="activeIndex === 1 && credentialsForm.value.role == 'rider'">
    <signup-rider-form [riderForm]="riderForm"></signup-rider-form>
    <div class="footer">
      <!-- <button pButton type="button" label="Prev" (click)="prev()"></button> -->
      <p>Etape {{ activeIndex + 1 }} sur 3</p>
      <button
        pButton
        type="button"
        label="Suivant"
        (click)="next(riderForm)"
      ></button>
    </div>
  </div>

  <div *ngIf="activeIndex === 1 && credentialsForm.value.role == 'contest'">
    <signup-organizer-form
      [organizerForm]="organizerForm"
    ></signup-organizer-form>
    <div class="footer">
      <!-- <button pButton type="button" label="Prev" (click)="prev()"></button> -->
      <p>Etape {{ activeIndex + 1 }} sur 3</p>
      <button
        pButton
        type="button"
        label="Suivant"
        (click)="next(organizerForm)"
      ></button>
    </div>
  </div>
</div>

<div *ngIf="activeIndex === 2">
  <signup-photo-form [photoForm]="photoForm"></signup-photo-form>
  <div class="footer">
    <!-- <button pButton type="button" label="Prev" (click)="prev()"></button> -->
    <p>Etape {{ activeIndex + 1 }} sur 3</p>
    <button pButton type="button" label="Valider" (click)="submit()"></button>
  </div>
</div>
