<!-- <p-steps [model]="items" [activeIndex]="activeIndex"></p-steps> -->

<div class="content">
  <div *ngIf="activeIndex === 0">
    <signup-credentials-form
      [userForm]="credentialsForm"
      [emailAvailable]="emailAvailable"
    ></signup-credentials-form>
    <div class="footer">
      <!-- <button pButton type="button" label="Test" (click)="test()"></button> -->
      <p class="step">Etape {{ activeIndex + 1 }} sur 3</p>
      <p-button type="button" (click)="next(credentialsForm)"
        ><div class="btn">
          <h4>Suivant</h4>
          <i class="fa-solid fa-angles-right fa-2xs"></i></div
      ></p-button>
    </div>
  </div>

  <div *ngIf="activeIndex === 1 && credentialsForm.value.role == 'rider'">
    <signup-rider-form [riderForm]="riderForm"></signup-rider-form>
    <div class="footer">
      <!-- <button pButton type="button" label="Prev" (click)="prev()"></button> -->
      <p class="step">Etape {{ activeIndex + 1 }} sur 3</p>
      <p-button type="button" (click)="next(riderForm)"
        ><div class="btn">
          <h4>Suivant</h4>
          <i class="fa-solid fa-angles-right fa-2xs"></i></div
      ></p-button>
    </div>
  </div>

  <div *ngIf="activeIndex === 1 && credentialsForm.value.role == 'contest'">
    <signup-organizer-form
      [organizerForm]="organizerForm"
    ></signup-organizer-form>
    <div class="footer">
      <!-- <button pButton type="button" label="Prev" (click)="prev()"></button> -->
      <p class="step">Etape {{ activeIndex + 1 }} sur 3</p>
      <p-button type="button" (click)="next(organizerForm)"
        ><div class="btn">
          <h4>Suivant</h4>
          <i class="fa-solid fa-angles-right fa-2xs"></i></div
      ></p-button>
    </div>
  </div>
</div>

<div *ngIf="activeIndex === 2">
  <signup-photo-form
    [photoForm]="photoForm"
    [photoFile]="photoFile"
    (uploadPhoto)="uploadPhoto($event)"
  ></signup-photo-form>
  <div class="footer">
    <!-- <button pButton type="button" label="Prev" (click)="prev()"></button> -->
    <p class="step">Etape {{ activeIndex + 1 }} sur 3</p>
    <p-button *ngIf="photoFile" type="button" (click)="submit()"
      ><div class="btn">
        <h4>Valider</h4>
        <i class="fa-solid fa-angles-check fa-2xs"></i></div
    ></p-button>
  </div>
</div>
