@import "../../../../../styles/variables.scss";
@import "../../../../../styles/colors.scss";

table {
  background-color: $firstry-white-3;
  border-radius: $border-radius-2;
  padding: 1vw;
  font-size: $mobile_fontTableSize;
  width: 100%;

  thead {
    padding: 1vw;
    text-align: left;
    font-weight: bold;
    color: $firstry-black-1;
  }

  tbody {
    tr {
      border-radius: $border-radius-2;
      padding: 1vw;
      color: $firstry-black-1;
    }
  }
}
