@import "../../../../../styles/variables.scss";
@import "../../../../../styles/colors.scss";

table {
  background-color: $firstry-white-3;
  border-radius: $border-radius-2;
  padding: 0.5vw;
  width: 100%;

  thead {
    padding: 0.5vw;
    text-align: left;
    font-weight: bold;
    color: $firstry-black-1;
  }

  tbody {
    tr {
      border-radius: $border-radius-2;
      padding: 0.5vw;
      color: $firstry-black-1;
    }
  }
}

.boolean-true {
  display: flex;
  // align-items: center;
  // justify-content: center;
}

.greenCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $firstry-green-2;
}

.redCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $firstry-red-2;
}
