@import "../../../../styles/components.scss";
@import "../../../../styles/colors.scss";

$scale: 1.15;
$height: 150px * $scale;
$width: 130px * $scale;
$info-height: 12vw * $scale;
$bottom-photo: 20px;
$bottom-infos: $bottom-photo * 4.2;

.card {
  display: flex;
  height: $height;
  width: $width;
  background-color: $firstry-white-2;
  border-radius: $border-radius-1;

  .infos {
    position: relative;
    height: $info-height;
    bottom: $bottom-infos;
    z-index: 5;
    padding-left: 8px;
    padding-right: 8px;

    .name {
      color: $firstry-white-1;
      border-radius: $border-radius-1;
      font-size: 13px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .firstName {
        font-variation-settings: "wght" 400;
      }

      .lastName {
        position: relative;
        bottom: 3px;
        font-variation-settings: "wght" 700;
      }
    }

    .sep {
      height: 1px;
      width: 20px;
      background-color: white;
      margin-bottom: 4px;
    }

    .footer {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      .sports {
        color: white;
        font-size: 11px;
        font-style: italic;
        font-variation-settings: "wght" 100;
      }

      .nationality {
        border-radius: 1px;
        height: 0.8vh;
      }
    }
  }

  .content {
    .photoRider {
      position: relative;
      z-index: 1;
      bottom: $bottom-photo;
      width: $width;
      border-radius: $border-radius-1;
    }
  }

  .shadow {
    position: relative;
    z-index: 1;
    right: $width;
    height: $height;
    min-width: $width;
    border-radius: $border-radius-1;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.4318102240896359) 29%,
      rgba(0, 0, 0, 0) 56%,
      rgba(0, 212, 255, 0) 100%
    );
  }

  .quadrillage {
    position: relative;
    right: $width * 2;

    .vertical {
      display: flex;
      justify-content: space-around;
      height: $height;
      min-width: $width;

      .sepVertical {
        width: 1px;
        background-color: rgba(0, 0, 0, 0.09);
      }
    }

    .horizontal {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: $height;
      min-width: $width;
      position: relative;
      bottom: $height;

      .sepHorizontal {
        height: 1px;
        background-color: rgba(0, 0, 0, 0.09);
      }
    }
  }
}
