@import "../../../../styles/components.scss";
@import "../../../../styles/colors.scss";

.card {
  margin-top: 2vw;
  margin-right: 5vw;
  margin-left: 5vw;
  height: 250px;
  width: 150px;
  background-color: $firstry-white-2;
  border-radius: $border-radius-1;

  .name {
    position: relative;
    bottom: 70px;
    right: 20px;
    z-index: 1;
    padding: 5px;
    background-color: $firstry-black-3;
    color: $firstry-white-1;
    border-radius: $border-radius-1;
  }

  img {
    height: 250px;
  }
}
