@import "../../../../styles/components.scss";
@import "../../../../styles/colors.scss";

.card {
  height: 17vh;
  width: 17vh;
  background-color: $firstry-white-2;
  border-radius: $border-radius-1;

  .name {
    position: relative;
    bottom: 60px;
    z-index: 1;
    padding: 5px;
    background-color: $firstry-black-3;
    color: $firstry-white-1;
    border-radius: $border-radius-1;
    font-size: 13px;
    display: flex;
    justify-content: center;
    gap: 5px;

    .firstName {
      font-variation-settings: "wght" 200;
    }

    .lastName {
      font-variation-settings: "wght" 600;
    }
  }

  img {
    position: relative;
    bottom: 30px;
    height: 21vh;
    border-radius: $border-radius-1;
  }
}
