.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexWrap {
  flex-wrap: wrap;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.alignSelfCenter {
  align-self: center;
}

.alignSelfEnd {
  align-self: flex-end;
}

.justifySelfEnd {
  justify-self: flex-end;
}

.spaceBetween {
  justify-content: space-between;
}

.spaceAround {
  justify-content: space-around;
}

.flexEnd {
  justify-content: flex-end;
}

.justifyCenter {
  justify-content: center;
}

.spaceBetween {
  justify-content: space-between;
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100%;
}

.flexCardRow {
  display: flex;
  flex-direction: row;
  gap: $mobile_gap_card;
}

.flexCardColumn {
  display: flex;
  flex-direction: column;
  gap: $mobile_gap_card;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.flex4 {
  flex: 4;
}

.fullCardWidth {
  width: 90vw;
}

.flexWrap {
  flex-wrap: wrap;
}

.gap10 {
  gap: 10px;
}

.absolute {
  position: absolute;
}

.cursorPointer {
  cursor: pointer;
}

.card-hover {
  transition: 0.2s;
}

.card-hover:hover {
  transform: scale(1.01);
  -webkit-filter: drop-shadow(0px 0px 15px #8c8c8c46);
  filter: drop-shadow(0px 0px 15px #8c8c8c46);
}

@media screen and (min-width: 768px) {
  .flexCardRow {
    display: flex;
    flex-direction: row;
    gap: $pc_gap_card;
  }

  .flexCardColumn {
    display: flex;
    flex-direction: column;
    gap: $pc_gap_card;
  }

  .fullCardWidth {
    width: 83vw;
  }
}
