$firstry-black-1: rgb(0, 0, 0);
$firstry-black-2: rgb(10, 10, 10);
$firstry-black-3: rgb(20, 20, 20);
$firstry-black-4: rgb(40, 40, 40);
$firstry-black-5: rgb(80, 80, 80);

$firstry-white-1: rgb(255, 255, 255);
$firstry-white-2: rgb(230, 230, 230);
$firstry-white-3: rgb(200, 200, 200);
$firstry-white-4: rgb(160, 160, 160);
$firstry-white-5: rgb(120, 120, 120);
