$firstry-black-1: #000000;
$firstry-black-2: #202020;
$firstry-black-3: #4b4b4b;
$firstry-black-4: #585858;

$firstry-white-1: rgb(255, 255, 255);
$firstry-white-2: #ebebeb;
$firstry-white-3: #cdcdcd;
$firstry-white-4: #999999;

$firstry-red-1: #e56e4a;
$firstry-red-2: #cc553a;

$firstry-green-1: #86d877;
$firstry-green-2: #69b758;
