@import "./colors.scss";
@import "./fonts.scss";
@import "./variables.scss";

.fadeBlackBg {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.719) 0%,
    rgba(0, 0, 0, 0.438) 29%,
    rgba(0, 0, 0, 0.096) 56%,
    rgba(0, 212, 255, 0) 100%
  );
}

.fadeBlackBg2 {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.897) 0%,
    rgba(0, 0, 0, 0.301) 39%,
    rgba(0, 0, 0, 0.158) 66%,
    rgba(0, 212, 255, 0) 100%
  );
}

.flexCardRow {
  display: flex;
  flex-direction: row;
  gap: $mobile_gap_card;
}

.flexCardColumn {
  display: flex;
  flex-direction: column;
  gap: $mobile_gap_card;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.flex4 {
  flex: 4;
}

@media screen and (min-width: 768px) {
  .flexCardRow {
    display: flex;
    flex-direction: row;
    gap: $pc_gap_card;
  }

  .flexCardColumn {
    display: flex;
    flex-direction: column;
    gap: $pc_gap_card;
  }
}
