@import "./colors.scss";
@import "./fonts.scss";
@import "./border-radius.scss";

button {
  cursor: pointer;
  padding: 10px;
  margin-top: 3vw;
  font-family: "Montserrat";
  font-variation-settings: "wght" 600;
  color: $firstry-white-1;
  background-color: $firstry-black-1;
  border: transparent;
  border-radius: $border-radius-1;

  i {
    margin-right: 5px;
  }
}

.primary-btn {
  padding: 10px;
  color: $firstry-white-1;
  background-color: $firstry-black-1;
  border-radius: $border-radius-3;
  border: 1px solid $firstry-white-1;
}

.primary-btn:hover {
  background-color: $firstry-black-4;
  transition: 0.3s;
}

.secondary-btn {
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: $firstry-black-1;
  background-color: $firstry-white-1;
  border-radius: $border-radius-3;
  border: 1px solid transparent;
}

.secondary-btn:hover {
  border: 1px solid $firstry-black-1;
  transition: 0.5s;
}

input {
  padding: 5px;
  border: 1.5px solid $firstry-white-3;
  border-radius: $border-radius-3;
  font-family: "Montserrat";
}

.inputForm {
  display: flex;
  flex-direction: column;
  margin-top: 3vw;
}

.buttonsForm {
  display: flex;
  margin-top: 3vw;
  justify-content: space-between;
  align-items: center;

  button {
    margin: 0;
  }
}

mat-select {
  padding: 5px;
  border: 1.5px solid $firstry-white-3;
  border-radius: $border-radius-3;
  font-family: "Montserrat";
}
