@import "./colors.scss";
@import "./fonts.scss";
@import "./variables.scss";

.fadeBlackBg {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.719) 0%,
    rgba(0, 0, 0, 0.322) 29%,
    rgba(0, 0, 0, 0) 56%,
    rgba(0, 212, 255, 0) 100%
  );
}

.fadeBlackBg2 {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.897) 0%,
    rgba(0, 0, 0, 0.301) 39%,
    rgba(0, 0, 0, 0.158) 66%,
    rgba(0, 212, 255, 0) 100%
  );
}
