@font-face {
  font-family: "Akira";
  src: url(../assets/fonts/AkiraExpanded-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "AkiraOutline";
  src: url(../assets/fonts/AkiraExpanded-Outline.woff2) format("woff2");
}
