@import "./colors.scss";
@import "./fonts.scss";

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5vw;
}
