@import "variables.scss";
@import "colors.scss";

p,
h2,
h3,
h4,
h5,
label,
input,
textarea,
select,
a {
  font-family: "HankenGrotesk";
}

p {
  font-size: max(11px, 3.5vw);
  font-variation-settings: "wght" 500;
}

b {
  font-variation-settings: "wght" 900;
}

.tag {
  font-size: 10px;
  font-variation-settings: "wght" 700;
}

h1 {
  font-family: "Akira";
  font-size: 30px;
}

h2 {
  font-size: 25px;
  font-variation-settings: "wght" 900;
}

h3 {
  font-size: max(14px, 4vw);
  font-variation-settings: "wght" 800;
}

h4 {
  font-size: max(12px, 3.5vw);
  font-variation-settings: "wght" 600;
}

h5 {
  font-size: max(13px, 4vw);
  font-variation-settings: "wght" 300;
}

label {
  font-variation-settings: "wght" 900;
  font-size: 15px;
}

input,
textarea,
select {
  font-variation-settings: "wght" 500;
  color: $firstry-black-2;
  font-size: $mobile_fontInputSize;
  border: 1px solid transparent;
  border-radius: 8px;
  padding-left: 7px;
  height: $mobile_inputHeight;
  background-color: $firstry-white-1;
  margin-top: $mobile_marginInput;
  width: 100%;
}

a {
  text-decoration: none;
  color: $firstry-black-2;
  padding: 5px 8px;
}

.error {
  border: 1px solid $firstry-red-1;
}

.errorLabel {
  color: $firstry-red-1;
  font-size: 12px;
  font-variation-settings: "wght" 400;
  margin-top: 5px;
}

.textCenter {
  text-align: center;
}

.mainTitle {
  margin-bottom: $mobile_gap_card;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .mainTitle {
    height: 8vw;
    width: 45vw;
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: $pc_gap_card;
  }

  p {
    font-size: max(12px, 0.85vw);
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: max(23px, 1.6vw);
  }

  h3 {
    font-size: max(15px, 0.9vw);
  }

  h4 {
    font-size: max(14px, 0.9vw);
  }

  h5 {
    font-size: 14px;
  }

  label {
    font-variation-settings: "wght" 900;
    font-size: max(13px, 0.9vw);
    margin-bottom: 5px;
  }

  input,
  textarea,
  select {
    font-size: max(12px, 0.8vw);
  }

  a:hover {
    background-color: $firstry-white-3;
  }
}

textarea {
  resize: vertical;
}

textarea:focus,
input:focus {
  border: 1px solid $firstry-white-3;
  outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}

input::placeholder {
  color: $firstry-white-3;
  opacity: 1; /* Firefox */
}

input::placeholder {
  color: $firstry-white-3;
  opacity: 1; /* Firefox */
}

.italic {
  font-style: italic;
}
