// HEIGHTS
$mobile_inputHeight: 32px;

// FONT_SIZE
$mobile_fontInputSize: 15px;
$mobile_fontLabelSize: 17px;
$mobile_fontTableSize: 12px;
$mobile_fontCardTitleSize: 22px;
$mobile_fontTitleSize: 30px;

$pc_fontInputSize: 15px;
$pc_fontLabelSize: 17px;
$pc_fontTableSize: 12px;
$pc_fontCardTitleSize: 22px;
$pc_fontTitleSize: 60px;

// WEIGHTS
$mobile_fontInputWeight: 400;
$mobile_fontLabelWeight: 800;
$mobile_fontCardTitleWeight: 900;

// BORDER RADIUS
$border-radius-1: 12px;
$border-radius-2: 10px;
$border-radius-3: 8px;
