@import "../../../../../styles/colors.scss";
@import "../../../../../styles/variables.scss";

.selector {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  background-color: $firstry-white-3;
  border-radius: 10px;
  width: fit-content;
  padding: 5px 12px 5px 12px;

  button {
    display: flex;
    border-radius: 50px;
    border: 1px solid black;
    font-size: 8px;
    height: 12px;
    width: 12px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
  }

  button:disabled {
    color: grey;
    border-color: grey;
  }

  p {
    font-size: 14px;
    font-variation-settings: "wght" 600;
  }
}

.cal-hour-segment {
  display: flex;
  height: 100%;
  gap: 1vw;

  .cal-time {
    display: flex;
    padding: 0;
    height: 115%;
    border-right: 1px solid $firstry-white-4;
    font-variation-settings: "wght" 500;
    font-size: 15px;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-end;
    padding-right: 1vw;

    .sep {
      width: 5px;
      margin-left: 70%;
      height: 1px;
      background-color: $firstry-white-4;
      justify-self: center;
    }

    .time {
      position: relative;
      top: -8px;
    }
  }
}

.main {
  display: flex;
  gap: 1vw;

  .right {
    flex: 1;
  }
}

.cal-event {
  background-color: $firstry-white-3;
  border-radius: 10px;
  border: none;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 5px 10px 5px;
    height: 100%;

    h4 {
      font-size: max(15px, 0.9vw);
      text-wrap: wrap;
    }

    .tags {
      display: flex;
      gap: 0.5vw;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 5vw;
  }

  .selector {
    gap: 1.7vw;
    padding: 5px 12px 5px 12px;

    button {
      font-size: 8px;
      height: 12px;
      width: 12px;
    }

    p {
      font-size: 14px;
      font-variation-settings: "wght" 600;
      padding: 0px 5px 0px 5px;
    }
  }

  .cal-hour-segment {
    position: relative;

    .cal-time {
      position: relative;
      left: 6vw;
      font-size: 12px;
    }

    .time {
    }

    .sep {
      width: 5px;
    }
  }

  .cal-event {
    background-color: $firstry-white-3;
    border-radius: 10px;
    border: none;

    .content {
      padding: 5px 5px 10px 5px;

      h4 {
        font-size: max(12px, 2.5vw);
      }

      .tags {
        gap: 1vw;
      }
    }
  }
}
