<card>
  <div class="header">
    <h3>Planning</h3>
    <div class="selector">
      <button (click)="prevDate()" [disabled]="selectedDay == 0">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <p>Jour {{ selectedDay + 1 }}</p>
      <button (click)="nextDate()" [disabled]="days.length == selectedDay + 1">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>

  <mwl-calendar-day-view
    [viewDate]="viewDate"
    [events]="eventsCat"
    [dayStartHour]="dayStartHour"
    [dayEndHour]="dayEndHour"
    [hourSegments]="4"
    [refresh]="refresh"
    (eventTimesChanged)="eventTimesChanged($event)"
    [hourSegmentTemplate]="hourSegmentTemplate"
    [eventTemplate]="eventTemplate"
    [hourSegmentHeight]="isMobile ? 10 : 15"
  >
  </mwl-calendar-day-view>

  <ng-template #hourSegmentTemplate let-segment="segment">
    <div
      class="cal-hour-segment"
      [class.cal-hour-start]="segment.isStart"
      [class.cal-after-hour-start]=""
    >
      <span class="cal-time" *ngIf="!segment.isStart">
        <div class="sep"></div
      ></span>
      <span class="cal-time" *ngIf="segment.isStart">
        <div class="time">
          {{ segment.date | date : "HH:mm" }}
        </div>
      </span>
    </div>
  </ng-template>

  <ng-template #eventTemplate let-weekEvent="weekEvent">
    <div class="cal-event">
      <div class="content">
        <h3>
          <b>{{ weekEvent.event.title }}</b> - {{ weekEvent.event.meta.sport }}
        </h3>
        <div class="tags">
          <info-tag
            size="s"
            icon="fa-solid fa-clock"
            [label]="
              (weekEvent.event.start | date : 'HH:mm') +
              ' - ' +
              (weekEvent.event.end | date : 'HH:mm')
            "
          ></info-tag>
          <info-tag
            size="s"
            icon="fa-solid fa-user"
            [label]="
              weekEvent.event.meta.nbInscrit + '/' + weekEvent.event.meta.nbMax
            "
          ></info-tag>
        </div>
      </div>
    </div>
  </ng-template>
</card>
