<card title="Mes inscriptions">
  <p *ngIf="registrations.length == 0">
    Vous n'êtes pour l'instant inscris à aucuns contests !
  </p>
  <div class="flexColumn gap10">
    <card color="2" size="m" *ngFor="let registration of registrations">
      <div class="flexColumn gap10">
        <div class="flexRow alignCenter gap10">
          <h3>{{ registration.contest.name }}</h3>
          <span>-</span>
          <p class="italic">{{ getState(registration.state) }}</p>
        </div>
        <div class="flexRow spaceBetween">
          <btn
            label="Voir le contest"
            routerLink="/contests/{{ registration.contest._id }}"
          ></btn>
          <!-- <btn
            label="Annuler son inscription"
            type="danger"
            *ngIf="registration.state != 'refused'"
            (click)="cancelRegistration(registration._id)"
          ></btn> -->
        </div>
      </div>
    </card>
  </div>
</card>
