<h1 class="mainTitle">Mentions légales</h1>
<div class="flexColumn alignCenter">
  <div class="mentions">
    <div class="flexColumn justifyCenter">
      <h2>Éditeur du site :</h2>
      <p>
        Le site "firstry" est édité par SEAN Production, auto-entrepreneur au
        capital de 5000€. Adresse : [Adresse aléatoire à préciser] Email :
        hello@firstry.fr
      </p>
    </div>
    <div class="flexColumn justifyCenter">
      <h2>Hébergement :</h2>
      <p>
        Le site est hébergé par Hostinger International Ltd., une société dont
        le siège social est situé [adresse complète de l'hébergeur, y compris le
        pays, à préciser après vérification auprès de Hostinger].
      </p>
    </div>
    <div class="flexColumn justifyCenter">
      <h2>Création et gestion du site :</h2>
      <p>
        Anthony CHIRON est responsable de la création et de la maintenance
        technique du site.
      </p>
    </div>
    <div class="flexColumn justifyCenter">
      <h2>Collecte et traitement des données personnelles :</h2>
      <p>
        Les données personnelles collectées sur le site "firstry" sont
        exclusivement destinées à la mise en relation des riders avec les
        organisateurs de contests. Ces données sont hébergées dans une base de
        données MongoDB Atlas. Les utilisateurs disposent d'un droit d'accès, de
        rectification et de suppression de leurs données personnelles, qu'ils
        peuvent exercer en adressant une demande à contact@sean-prod.com.
      </p>
    </div>
    <div class="flexColumn justifyCenter">
      <h2>Propriété intellectuelle :</h2>
      <p>
        Tous les éléments du site "firstry", y compris les textes, graphismes,
        logos et images, sont considérés comme la propriété exclusive de SEAN
        Production, à l'exception des marques, logos ou contenus appartenant à
        d'autres sociétés partenaires ou auteurs. Aucune protection spécifique
        n'est actuellement revendiquée; cependant, les utilisateurs sont invités
        à respecter les droits d'utilisation et à ne pas reproduire les contenus
        sans autorisation préalable.
      </p>
    </div>
    <div class="flexColumn justifyCenter">
      <h2>Conditions Générales d'Utilisation (CGU) :</h2>
      <p>
        Firstry agit en tant que plateforme en ligne visant à faciliter la mise
        en relation entre les riders de sports extrêmes et les organisateurs de
        compétitions. Nous offrons aux organisateurs de compétitions des outils
        pour la gestion de leurs contests, permettant la publication
        d'informations et la gestion des inscriptions. Ces outils ont pour but
        de simplifier l'organisation des contests et d'améliorer l'expérience
        tant pour les organisateurs que pour les participants. Cependant, il est
        important de souligner que Firstry ne participe pas directement à la
        création, à l'organisation, ou à la gestion effective des contests
        eux-mêmes. Notre responsabilité se limite à la mise à disposition d'une
        plateforme et des outils correspondants.
        <br /><br />

        Nous ne sommes pas responsables de la véracité, de la qualité, ou de la
        fiabilité des contests publiés par les organisateurs sur notre site, ni
        de l'utilisation qui est faite de nos outils de gestion. De même,
        Firstry ne saurait être tenu responsable des éventuels dommages, pertes,
        ou préjudices résultant de la participation à un contest, ou de
        l'incapacité à participer à un contest. La responsabilité de s'assurer
        de la conformité et de la sécurité des contests, ainsi que de l'usage
        approprié des outils de gestion fournis, revient entièrement aux
        organisateurs. La participation aux événements se fait à la discrétion
        et au risque des utilisateurs.
        <br /><br />
        Les utilisateurs sont encouragés à exercer leur propre diligence
        raisonnable avant de s'engager dans toute activité liée à un contest
        publié sur notre plateforme.
      </p>
    </div>
    <div class="flexColumn justifyCenter">
      <h2>Modification des mentions légales :</h2>
      <p>
        SEAN Production se réserve le droit de modifier à tout moment les
        présentes mentions légales. Les utilisateurs sont invités à les
        consulter régulièrement pour prendre connaissance de toute modification.
      </p>
    </div>
  </div>
</div>
