<h1 class="mainTitle">Mentions légales</h1>
<div class="flexColumn alignCenter">
  <div class="mentions">
    <div class="flexColumn justifyCenter">
      <h2>Éditeur du site :</h2>
      <p>
        Le site "firstry" est édité par SEAN Production, auto-entrepreneur au
        capital de 5000€. Adresse : [Adresse aléatoire à préciser] Email :
        hello@firstry.fr
      </p>
    </div>
    <div class="flexColumn justifyCenter">
      <h2>Hébergement :</h2>
      <p>
        Le site est hébergé par Hostinger International Ltd., une société dont
        le siège social est situé [adresse complète de l'hébergeur, y compris le
        pays, à préciser après vérification auprès de Hostinger].
      </p>
    </div>
    <div class="flexColumn justifyCenter">
      <h2>Création et gestion du site :</h2>
      <p>
        Anthony CHIRON est responsable de la création et de la maintenance
        technique du site.
      </p>
    </div>
    <div class="flexColumn justifyCenter">
      <h2>Collecte et traitement des données personnelles :</h2>
      <p>
        Les données personnelles collectées sur le site "firstry" sont
        exclusivement destinées à la mise en relation des riders avec les
        organisateurs de contests. Ces données sont hébergées dans une base de
        données MongoDB Atlas. Les utilisateurs disposent d'un droit d'accès, de
        rectification et de suppression de leurs données personnelles, qu'ils
        peuvent exercer en adressant une demande à contact@sean-prod.com.
      </p>
    </div>
    <div class="flexColumn justifyCenter">
      <h2>Propriété intellectuelle :</h2>
      <p>
        Tous les éléments du site "firstry", y compris les textes, graphismes,
        logos et images, sont considérés comme la propriété exclusive de SEAN
        Production, à l'exception des marques, logos ou contenus appartenant à
        d'autres sociétés partenaires ou auteurs. Aucune protection spécifique
        n'est actuellement revendiquée; cependant, les utilisateurs sont invités
        à respecter les droits d'utilisation et à ne pas reproduire les contenus
        sans autorisation préalable.
      </p>
    </div>
    <div class="flexColumn justifyCenter">
      <h2>Conditions Générales d'Utilisation (CGU) :</h2>
      <p>
        Le site "firstry" est une plateforme destinée à faciliter la mise en
        relation entre riders de sports extrêmes et organisateurs de contests.
        SEAN Production n'est pas responsable des événements organisés par le
        biais du site et ne garantit pas la véracité, la qualité ou la légalité
        des contests proposés. Les utilisateurs sont invités à procéder à leur
        propre vérification avant de s'engager dans une activité ou un
        événement.
      </p>
    </div>
    <div class="flexColumn justifyCenter">
      <h2>Modification des mentions légales :</h2>
      <p>
        SEAN Production se réserve le droit de modifier à tout moment les
        présentes mentions légales. Les utilisateurs sont invités à les
        consulter régulièrement pour prendre connaissance de toute modification.
      </p>
    </div>
  </div>
</div>
