<div class="card">
  <div class="cardBg"></div>
  <div class="photo">
    <img
      *ngIf="!rider.photoUrl || rider.photoUrl == ''"
      src="../../../../assets/riders/pnj.png"
      alt="Rider"
      class="photoRider"
    />
    <img
      *ngIf="rider.photoUrl && rider.photoUrl != ''"
      [src]="rider.photoUrl"
      alt="Rider"
      class="photoRider"
    />
  </div>
</div>
<div class="infos">
  <h4 class="name">{{ rider.firstName + " " + rider.lastName[0] + "." }}</h4>
  <!-- <h4 class="category">
    <scrolling-text text="Categorie"></scrolling-text>
  </h4> -->
</div>
