@import "../../../../../styles/components.scss";

loader {
  align-self: center;
}

.content {
  width: 82vw;
  display: flex;
  align-items: center;
  position: relative;
  overflow-x: scroll;
  gap: 4vw;
}
