@import "../../../../../styles/components.scss";

loader {
  align-self: center;
}

.content {
  width: 82vw;
  display: flex;
  align-items: center;
  position: relative;
  overflow-x: scroll;
  gap: 4vw;
}

.card {
  height: 25vw;
  width: 40vw;
}

@media only screen and (min-width: 768px) {
  .content {
    height: 14vw;
  }

  .card {
    width: 10vw;
    height: 10vw;
  }
}
