@import "../../../../../styles/colors.scss";
@import "../../../../../styles/variables.scss";

.card {
  display: flex;
  background-color: $firstry-white-2;
  border-radius: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 4vw;
  width: 100%;
  height: 100%;
}

.loader {
  align-self: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;

  h3 {
    font-variation-settings: "wght" $mobile_fontCardTitleWeight;
    font-family: "HankenGrotesk";
    color: $firstry-black-2;
    font-size: $mobile_fontCardTitleSize;
    margin-bottom: 4vw;
    width: 90%;
  }

  .btn {
    transition: 0.3s;
    border-radius: 15px;

    align-self: flex-start;
  }
}

@media only screen and (min-width: 768px) {
  .card {
    display: flex;
    height: 100%;
  }

  .sideImgCard {
    height: 70vh;
    width: 80%;
  }

  .header {
    h3 {
      font-size: 30px;
      margin-bottom: 2vw;
    }

    .btn:hover {
      border-radius: 15px;
      background-color: $firstry-white-3;
    }
  }

  .sideImgCard > .header {
    h3 {
      text-align: center;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .main {
    display: flex;
    flex-direction: column;
    padding: 1.5vw;
    height: 100%;
  }

  .sideImg {
    height: 70vh;
    width: 80%;

    img {
      height: 100%;
      width: 100%;
      border-top-left-radius: 11px;
      border-bottom-left-radius: 11px;
      box-shadow: 10px 0px 20px rgb(196, 196, 196);
    }
  }
}
