<div
  *ngIf="!toggle"
  class="card {{ color }}"
  [class.fitContent]="fitContent"
  [class.sideImgCard]="img != ''"
>
  <div *ngIf="img != ''" class="sideImg">
    <img [src]="img" alt="" />
  </div>
  <div class="main" [class.subCard]="subCard">
    <loader class="loader" *ngIf="isLoading"></loader>
    <div
      [ngStyle]="{ 'margin-bottom': titleGap + 'vw' }"
      class="header"
      *ngIf="title != '' || btn != false"
    >
      <h3 *ngIf="title != ''">{{ title }}</h3>
      <btn
        *ngIf="close"
        (click)="toggle = true"
        icon="fa-solid fa-xmark fa-lg"
        type="transparent"
        class="btn"
      ></btn>
      <btn
        *ngIf="redirect"
        [routerLink]="redirectLink"
        (click)="toggle = true"
        icon="fa-solid fa-arrow-up-right-from-square"
        type="transparent"
        size="m"
        class="btn"
      ></btn>
      <btn
        *ngIf="btn"
        (click)="emitBtnClicked()"
        [icon]="btnIcon || 'fa-solid fa-pen-to-square'"
        type="transparent"
        class="btn"
      ></btn>
    </div>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
