@import "../../../../../styles/colors.scss";

.card {
  height: 100%;
  width: 100%;
  background-color: $firstry-white-2;
  border-radius: 10px;
  padding: 4vw;
  display: flex;
  flex-direction: column;
  position: relative;
}

.btn {
  position: absolute;
  right: 0vw;
  top: 0vw;
}

.header {
  display: flex;
  justify-content: space-between;

  h3 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 2vw;
  }
}

@media only screen and (min-width: 768px) {
  .card {
    padding: 2vw;
  }

  h3 {
    font-size: 30px;
    margin-bottom: 0vw;
  }
}
