<div
  class="card color-{{ color }}  size-{{ size }}"
  [class.sideImgCard]="img != ''"
  [class.fitContent]="fitContent"
  [class.noPadding]="padding == false"
>
  <div
    *ngIf="img != ''"
    class="sideImg"
    [ngStyle]="{ 'background-image': img }"
  ></div>
  <div
    *ngIf="backgroundImg != ''"
    class="fullHeight fullWidth absolute backgroundImg"
    [ngStyle]="{
    'background-image': backgroundImg != '' ? backgroundImg : '',
    'background-size': backgroundImg != '' ? backgroundSize : '',
    'background-position': backgroundImg != '' ? backgroundPosition : '',
    'background-repeat': backgroundImg != '' ? backgroundRepeat : '',
  }"
  ></div>
  <div class="main">
    <div
      class="header"
      [class.toggle]="toggle"
      *ngIf="title != '' || btn != false || toggleBtn"
      [@toggleAnimation]
    >
      <div class="title">
        <h3 *ngIf="title != ''">{{ title }}</h3>
        <p *ngIf="subTitle != ''">-</p>
        <h5 *ngIf="subTitle != ''">{{ subTitle }}</h5>
      </div>

      <div class="buttons">
        <ng-content select="[header]"></ng-content>

        <btn
          *ngIf="redirect"
          [routerLink]="redirectLink"
          icon="fa-solid fa-arrow-up-right-from-square"
          type="transparent"
          size="m"
          class="btn"
        ></btn>
        <btn
          *ngIf="btn"
          [label]="btnLabel"
          (click)="emitBtnClicked()"
          [icon]="btnIcon || 'fa-solid fa-pen-to-square'"
          type="transparent"
          class="btn"
        ></btn>
        <btn
          *ngIf="toggleBtn"
          (click)="toggle = !toggle"
          icon="fa-solid fa-chevron-down"
          type="transparent"
          class="btnToggle"
        ></btn>
      </div>
    </div>
    <loader class="loader" *ngIf="isLoading"></loader>

    <div *ngIf="!toggle" [@toggleAnimation] [ngStyle]="{ 'z-index': 6 }">
      <div [@toggleAnimation] class="content">
        <ng-content></ng-content>
      </div>
    </div>
    <ng-content select="[footer]"></ng-content>
  </div>
  <div
    class="shadow"
    *ngIf="shadow"
    [ngStyle]="{
      background:
        'linear-gradient(' +
        shadowDeg +
        'deg, rgba(0, 0, 0, ' +
        shadowColor +
        ') 0%, rgba(0, 0, 0, 0) ' +
        shadowLength +
        '%, rgba(0, 0, 0, 0) 100%)',
      'z-index': shadowIndex
    }"
  ></div>
  <quadrillage
    *ngIf="quadrillage"
    class="fullHeight fullWidth absolute"
    [nbRows]="nbLines"
    [nbColumns]="nbColumns"
  ></quadrillage>
</div>
