<confirmation-modal
  [isVisible]="showDeleteModal"
  (confirmed)="delete()"
  (cancelled)="showDeleteModal = false"
  title="Attention !"
  message="Êtes-vous sûr de vouloir supprimer cette règle ?"
>
</confirmation-modal>
<card
  size="m"
  color="2"
  [title]="
    rulesForm.get('name').value
      ? rulesForm.get('name').value
      : 'Création de règle'
  "
  [toggleBtn]="true"
  [toggle]="!edit"
  (btnClicked)="edit = !edit"
  class="main"
>
  <div header class="flexRow">
    <btn
      name="Dupliquer"
      *ngIf="!edit && canEdit"
      type="transparent"
      icon="fa-solid fa-clone"
      (click)="duplicate()"
    ></btn>
    <btn
      *ngIf="!edit && canEdit"
      type="transparent"
      icon="fa-solid fa-pen-to-square"
      (click)="edit = !edit"
    ></btn>
    <btn
      *ngIf="edit && canEdit"
      type="transparent"
      label="Supprimer"
      (click)="showDeleteModal = true"
    ></btn>
  </div>
  <form [formGroup]="rulesForm">
    <div class="content">
      <div class="infosAndFormat">
        <div class="infos">
          <input-text
            name="name"
            formControlName="name"
            placeholder="Nom..."
            label="Nom"
            [edit]="edit"
            [error]="fus.isFieldInvalid('name')"
          ></input-text>
          <input-textarea
            name="description"
            formControlName="description"
            placeholder="Description..."
            label="Description"
            size="xs"
            [edit]="edit"
            [error]="fus.isFieldInvalid('description')"
          ></input-textarea>
        </div>
        <div class="sep"></div>
        <contest-rules-format-form
          [edit]="edit"
          [parentForm]="rulesForm"
          class="format"
        ></contest-rules-format-form>
      </div>
      <contest-rules-points-form
        [edit]="edit"
        [parentForm]="rulesForm"
        class="points"
      ></contest-rules-points-form>
    </div>
  </form>
  <div class="footer" *ngIf="edit">
    <btn
      type="danger"
      label="Annuler"
      icon="fa-solid fa-xmark"
      (click)="cancel()"
    ></btn>
    <btn
      label="Valider"
      type="valid"
      icon="fa-solid fa-check"
      (click)="submit()"
    ></btn>
  </div>
</card>
