<confirmation-modal
  [isVisible]="showDeleteModal"
  (confirmed)="delete()"
  (cancelled)="showDeleteModal = false"
  title="Attention !"
  message="Êtes-vous sûr de vouloir supprimer cette règle ?"
>
</confirmation-modal>
<card type="secondary" (btnClicked)="edit = !edit" class="main">
  <form [formGroup]="form">
    <div class="header" *ngIf="rules && rules._id">
      <input-title
        name="name"
        formControlName="name"
        [edit]="edit"
        [error]="
          touched &&
          (fus.isFieldInvalid('name') || form.get('name').value == '')
        "
      ></input-title>
      <btn
        *ngIf="!edit"
        type="transparent"
        icon="fa-solid fa-pen-to-square"
        (click)="edit = !edit"
      ></btn>
      <btn
        *ngIf="edit"
        type="transparent"
        label="Supprimer"
        (click)="showDeleteModal = true"
      ></btn>
    </div>
    <div class="content">
      <div class="infosAndFormat">
        <div class="infos">
          <input-text
            *ngIf="rules && !rules._id"
            name="name"
            formControlName="name"
            placeholder="Nom..."
            label="Nom"
            [edit]="edit"
            [error]="
              touched &&
              (fus.isFieldInvalid('name') || form.get('name').value == '')
            "
          ></input-text>
          <input-textarea
            name="description"
            formControlName="description"
            placeholder="Description..."
            label="Description"
            size="xs"
            [edit]="edit"
            [error]="
              touched &&
              (fus.isFieldInvalid('description') ||
                form.get('description').value == '')
            "
          ></input-textarea>
        </div>
        <div class="sep"></div>
        <contest-rules-format-form
          [edit]="edit"
          [touched]="touched"
          [parentForm]="form"
          class="format"
        ></contest-rules-format-form>
      </div>
      <contest-rules-points-form
        [edit]="edit"
        [touched]="touched"
        [parentForm]="form"
        class="points"
      ></contest-rules-points-form>
    </div>
  </form>
  <div class="footer" *ngIf="edit">
    <btn
      type="danger"
      label="Annuler"
      icon="fa-solid fa-xmark"
      (click)="cancel()"
    ></btn>
    <btn label="Valider" icon="fa-solid fa-check" (click)="submit()"></btn>
  </div>
</card>
