<card
  color="secondary"
  [subCard]="true"
  (btnClicked)="edit = !edit"
  class="main"
>
  <div class="header" *ngIf="rules">
    <input-title></input-title>
    <btn
      *ngIf="!edit"
      type="transparent"
      icon="fa-solid fa-pen-to-square"
      (click)="edit = !edit"
    ></btn>
    <btn
      *ngIf="edit"
      type="transparent"
      label="Supprimer"
      (click)="edit = !edit"
    ></btn>
  </div>
  <form [formGroup]="form" class="rule">
    <div class="infos">
      <input-text
        name="name"
        placeholder="Nom..."
        label="Nom"
        formControlName="name"
        [edit]="edit"
        [error]="
          touched &&
          (fus.isFieldInvalid('name') || form.get('name').value == '')
        "
      ></input-text>
      <input-textarea
        name="description"
        placeholder="Description..."
        label="Description"
        formControlName="description"
        [edit]="edit"
        [error]="
          touched &&
          (fus.isFieldInvalid('description') ||
            form.get('description').value == '')
        "
      ></input-textarea>
    </div>
    <div class="sep"></div>
    <div class="format">
      <contest-rules-format-form [edit]="edit"></contest-rules-format-form>
    </div>
  </form>
  <div class="footer" *ngIf="edit">
    <btn
      type="danger"
      label="Annuler"
      icon="fa-solid fa-xmark"
      (click)="cancel()"
    ></btn>
    <btn label="Valider" icon="fa-solid fa-check" (click)="submit()"></btn>
  </div>
</card>
