<card
  *ngIf="!displayDefaultRules"
  title="Règles"
  [fitContent]="true"
  class="main"
>
  <div header class="flexRow gap10">
    <btn
      label="Règles par défaults"
      type="transparent"
      (click)="displayDefaultRules = true"
    ></btn>
    <btn label="Créer une règle personnalisée" (click)="createRule()"></btn>
  </div>
  <div class="content">
    <contest-rules-card
      [contest]="contest"
      *ngFor="let rule of rules"
      [rules]="rule"
      (deleteRule)="deleteRule($event)"
      (updateRule)="updateRule($event)"
      (duplicateRule)="duplicateRule($event)"
    ></contest-rules-card>
  </div>
</card>
<card
  *ngIf="displayDefaultRules"
  title="Règles par défault"
  [fitContent]="true"
  class="main"
>
  <div header class="flexRow gap10">
    <btn
      label="Règles personnalisées"
      type="transparent"
      (click)="displayDefaultRules = false"
    ></btn>
  </div>
  <div class="content">
    <contest-rules-card
      [contest]="contest"
      *ngFor="let rule of defaultsRules"
      [rules]="rule"
      [canEdit]="false"
      (deleteRule)="deleteRule($event)"
      (updateRule)="updateRule($event)"
      (duplicateRule)="duplicateRule($event)"
    ></contest-rules-card>
  </div>
</card>
