<form [formGroup]="organizerForm">
  <input-text
    name="name"
    type="Text"
    placeholder="Organisation..."
    label="Organisation"
    formControlName="name"
    [error]="
      touched &&
      (fus.isFieldInvalid('name') || organizerForm.get('name').value == '')
    "
  >
    <note
      text="Attention : C'est le nom de votre organisation, pas de votre
contest"
    ></note
  ></input-text>
  <input-adress label="Lieu" formControlName="location"></input-adress>
  <div class="footer">
    <!-- <button pButton type="button" label="Prev" (click)="prev()"></button> -->
    <p class="signUpStep">Etape 2 sur 3</p>
    <btn
      (click)="next()"
      label="Suivant"
      icon="fa-solid fa-angles-right fa-2xs"
      iconPos="right"
    ></btn>
  </div>
</form>
