@import "../styles/components.scss";
@import "../styles/colors.scss";

.main {
  flex-direction: column;
  background-color: $firstry-white-2;
}

.navbar {
  z-index: 1000;
  height: 100vh;
}

.content {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  transition: 0.3s;
  filter: brightness(1);
  border-radius: 15px;
}

.container {
  margin-top: 5vw;
  margin-bottom: 5vw;
  width: 90%;
}

.navbar:hover ~ .content {
  filter: brightness(0.2);
}

@media only screen and (min-width: 768px) {
  .main {
    display: flex;
    flex-direction: row;
    background-color: black;
  }

  .content {
    border-radius: 0px;
  }

  .container {
    margin-top: 3vw;
    margin-bottom: 3vw;
    width: 90%;
  }
}

// .navbar:hover ~ .content > .shadow {
//   z-index: 1;
//   background-color: rgba(0, 0, 0, 0.74);
// }
// .navbar:hover ~ .content {
//   background-color: black;
// }
