@import "../../../../../styles/colors.scss";

.main {
  .category {
    position: relative;

    form {
      display: flex;
      flex-direction: column;
      gap: 1vw;

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
          display: flex;
          align-items: center;
          gap: 0.5vw;

          span,
          p {
            font-family: "HankenGrotesk";
            font-variation-settings: "wght" 500;
            font-size: 17px;
            color: $firstry-black-2;
            align-self: center;
          }
        }

        .topBtns {
          display: flex;
          align-items: center;
          width: fit-content;
        }
      }

      .inscription {
        .maxRiders {
          flex: 2;
        }

        .registerPrice {
          flex: 1;
        }

        .qualificationStep {
          flex: 1;
        }
      }

      .steps {
        display: flex;
        flex-direction: column;
        gap: 0.5vw;

        .stepsList {
          display: flex;
          justify-content: space-between;
          gap: 1vw;

          .step {
            width: 100%;
            height: 100%;
          }
        }
      }

      .buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.5vw;
      }
    }
  }
}
