<confirmation-modal
  [isVisible]="showDeleteModal"
  title="Danger zone !"
  message="
    Voulez-vous vraiment supprimer la catégorie {{ this.category.name }} ?
  "
  (confirmed)="onDeleteConfirmed()"
  (cancelled)="onDeleteCancelled()"
></confirmation-modal>
<div class="main">
  <card
    *ngIf="category"
    [title]="
      categoryForm.get('name').value && !isNew
        ? categoryForm.get('name').value
        : 'Création de catégorie'
    "
    [subTitle]="category.sports ? category.sports.join(', ') : ''"
    class="category"
    color="2"
    size="m"
    [toggleBtn]="true"
    [toggle]="!edit"
  >
    <div header>
      <div class="topBtns" *ngIf="!isNew">
        <btn
          type="transparent"
          *ngIf="edit"
          label="Supprimer la catégorie"
          (click)="showDeleteModal = true"
          class="deleteBtn"
        ></btn>
        <btn
          *ngIf="!edit"
          type="transparent"
          icon="fa-solid fa-pen-to-square fa-lg"
          (click)="edit = !edit"
          class="editBtn"
        ></btn>
      </div>
    </div>

    <form [formGroup]="categoryForm">
      <input-text
        *ngIf="isNew"
        name="name"
        type="Text"
        placeholder="Nom..."
        label="Nom de la catégorie"
        formControlName="name"
        [edit]="edit"
        [error]="fus.isFieldInvalid('name')"
      ></input-text>

      <input-textarea
        name="description"
        size="m"
        placeholder="Description de la catégorie, modalité d'inscription..."
        label="Description de la catégorie"
        formControlName="description"
        [edit]="edit"
        [error]="fus.isFieldInvalid('description')"
      ></input-textarea>

      <div *ngIf="contest.sports.length > 1" class="inputGroup">
        <h4>Disciplines</h4>
        <chips-group
          [chips]="sportsOptions"
          formControlName="sports"
          [edit]="edit"
        ></chips-group>
        <note
          *ngIf="fus.isFieldInvalid('sports')"
          type="errorLabel"
          text="Veuillez choisir au moins un sport !"
        >
        </note>
      </div>
      <div class="inscription flexRow gap10">
        <input-text
          class="flex1"
          name="maxRiders"
          type="number"
          placeholder="Nombre de riders maximum..."
          label="Nombre de riders maximum"
          formControlName="maxRiders"
          [edit]="edit"
          [error]="fus.isFieldInvalid('maxRiders')"
        ></input-text>

        <!-- registerPrice input -->
        <input-text
          *ngIf="contest.enablePayment && contest.enablePayment === true"
          class="flex1"
          name="registerPrice"
          type="number"
          placeholder="Prix d'inscription..."
          label="Prix d'inscription"
          formControlName="registerPrice"
          [edit]="edit"
          [error]="fus.isFieldInvalid('registerPrice')"
        ></input-text>
        <!-- <slide-input
          class="flex1"
          name="isParentalAuthorizationRequired"
          formControlName="isParentalAuthorizationRequired"
          label="Authorisation parentale ?"
          [edit]="edit"
        >
        </slide-input> -->
        <slide-input
          *ngIf="isNew"
          class="flex1"
          name="isQualificationStep"
          formControlName="isQualificationStep"
          label="Qualification ?"
          [edit]="edit"
        >
        </slide-input>
      </div>

      <div class="steps">
        <h3>Étapes</h3>
        <div class="stepsList">
          <card
            *ngIf="categoryForm.value.isQualificationStep"
            color="3"
            size="s"
            class="step"
          >
            <div formGroupName="stepQualif" class="flexColumn gap10">
              <h3 class="textCenter">Qualification</h3>
              <input-chips
                *ngIf="edit"
                [options]="dateOptions"
                formControlName="startDate"
                [edit]="edit"
                [isBinary]="true"
                label="Date"
                [isValueDate]="true"
              ></input-chips>
              <input-text
                type="number"
                label="Nombre de riders qualifié.es"
                formControlName="ridersQualifiedCount"
                [edit]="edit"
                [error]="
                  isStepFieldInvalid('stepQualif', 'ridersQualifiedCount')
                "
              ></input-text>
              <dropdown
                name="rules"
                formControlName="rules"
                label="Règle de l'étape"
                [options]="rulesOptions"
                [edit]="edit"
                [value]="this.categoryForm.value.stepQualif.rules"
              ></dropdown>
            </div>
          </card>
          <card color="3" size="s" class="step">
            <div formGroupName="stepFinal" class="flexColumn gap10">
              <h3
                class="textCenter"
                *ngIf="categoryForm.value.isQualificationStep"
              >
                Finale
              </h3>
              <input-chips
                *ngIf="edit"
                [options]="dateOptions"
                formControlName="startDate"
                [edit]="edit"
                [isBinary]="true"
                label="Date"
                [isValueDate]="true"
              ></input-chips>
              <dropdown
                name="rules"
                formControlName="rules"
                label="Règle de l'étape"
                [options]="rulesOptions"
                [edit]="edit"
                [value]="isNew ? '' : this.categoryForm.value.stepFinal.rules"
              ></dropdown>
            </div>
          </card>
        </div>
      </div>

      <div class="buttons" *ngIf="edit">
        <btn
          (click)="cancel()"
          label="Annuler"
          type="danger"
          icon="fa-solid fa-xmark"
          iconPos="right"
        ></btn>

        <btn
          (click)="submit()"
          label="Valider"
          type="valid"
          icon="fa-solid fa-check"
          iconPos="right"
        ></btn>
      </div>
    </form>
  </card>
</div>
