<confirmation-modal
  [isVisible]="showDeleteModal"
  title="Voulez-vous vraiment supprimer la catégorie {{ this.category.name }} ?"
  [message]="'Êtes-vous sûr de vouloir faire cela ?'"
  (confirmed)="onDeleteConfirmed()"
  (cancelled)="onDeleteCancelled()"
></confirmation-modal>
<div class="main">
  <card
    class="category"
    [title]="isNew ? 'Création de catégorie' : ''"
    [subCard]="true"
    color="secondary"
    *ngIf="category"
  >
    <form [formGroup]="categoryForm">
      <div class="header">
        <div class="title" *ngIf="!isNew">
          <input-title
            name="name"
            type="Text"
            placeholder="Nom..."
            label="Nom de la catégorie"
            formControlName="name"
            [edit]="edit"
            [error]="
              touched &&
              (fus.isFieldInvalid('name') ||
                categoryForm.get('name').value == '')
            "
          ></input-title>

          <span *ngIf="!edit && category.sports">-</span>
          <p *ngIf="!edit && category.sports">{{ category.sports }}</p>
        </div>

        <div class="topBtns" *ngIf="!isNew">
          <btn
            type="transparent"
            *ngIf="edit"
            label="Supprimer la catégorie"
            (click)="deleteCategory()"
            class="deleteBtn"
          ></btn>
          <btn
            type="transparent"
            icon="fa-solid fa-pen-to-square fa-lg"
            (click)="edit = !edit"
            class="editBtn"
          ></btn>
        </div>
      </div>

      <input-text
        *ngIf="isNew"
        name="name"
        type="Text"
        placeholder="Nom..."
        label="Nom de la catégorie"
        formControlName="name"
        [edit]="edit"
        [error]="
          touched &&
          (fus.isFieldInvalid('name') || categoryForm.get('name').value == '')
        "
      ></input-text>

      <input-textarea
        name="description"
        type="Text"
        placeholder="Description..."
        label="Description"
        formControlName="description"
        [edit]="edit"
        [error]="
          touched &&
          (fus.isFieldInvalid('description') ||
            categoryForm.get('description').value == '')
        "
      >
      </input-textarea>

      <div *ngIf="contest.sports.length > 1" class="inputGroup">
        <h4>Disciplines</h4>
        <chips-group
          [chips]="sports"
          formControlName="sports"
          [edit]="edit"
        ></chips-group>
        <note
          *ngIf="
            touched &&
            (fus.isFieldInvalid('sports') ||
              categoryForm.get('sports').value == '')
          "
          type="error"
          text="Veuillez choisir au moins un sport !"
        >
        </note>
      </div>

      <div class="inscription flexRow">
        <input-text
          class="maxRiders"
          name="maxRiders"
          type="number"
          placeholder="Nombre de riders maximum..."
          label="Nombre de riders maximum"
          formControlName="maxRiders"
          [edit]="edit"
          [error]="
            touched &&
            (fus.isFieldInvalid('maxRiders') ||
              categoryForm.get('maxRiders').value == '')
          "
        ></input-text>

        <!-- registerPrice input -->
        <input-text
          class="registerPrice"
          name="registerPrice"
          type="number"
          placeholder="Prix d'inscription..."
          label="Prix d'inscription"
          formControlName="registerPrice"
          [edit]="edit"
          [error]="
            touched &&
            (fus.isFieldInvalid('registerPrice') ||
              categoryForm.get('registerPrice').value == '')
          "
        ></input-text>

        <slide-input
          class="qualificationStep"
          name="isQualificationStep"
          formControlName="isQualificationStep"
          label="Qualification ?"
        ></slide-input>
      </div>

      <div class="buttons" *ngIf="edit">
        <btn
          (click)="cancel()"
          label="Annuler"
          icon="fa-solid fa-xmark"
          iconPos="right"
        ></btn>

        <btn
          (click)="submit()"
          label="Valider"
          icon="fa-solid fa-check"
          iconPos="right"
        ></btn>
      </div>
    </form>
  </card>
</div>
