<form [formGroup]="organizerForm">
  <div class="inputGroup">
    <h4>Nom de votre organisation</h4>

    <input
      pInputText
      placeholder="Organisation"
      formControlName="name"
      [class.ng-dirty]="fus.isFieldInvalid('name')"
      required
    />
    <small
      >Attention : C'est le nom de votre organisation, pas de votre
      contest</small
    >
  </div>
  <div class="inputGroup">
    <h4>N° de SIRET</h4>

    <input
      pInputText
      placeholder="Siret"
      formControlName="siretNumber"
      [class.ng-dirty]="fus.isFieldInvalid('siretNumber')"
      required
    />
  </div>
</form>
