<waiting-asset *ngIf="isWaitingDisplayed"></waiting-asset>

<div class="live-stack" *ngIf="isMainDisplayed" [@slideIn]>
  <div class="qualif-section">
    <span class="qualif-label">{{ currentStep }}</span>
    <span class="qualif-value">{{ currentCategory }}</span>
  </div>

  <div class="bloc">
    <div class="info">
      <div class="riders-section">
        <h3 class="pool-label mainLiveTitle">
          POULE
          <span class="pool-current">{{ currentRider?.poolNumber }}</span>/<span class="pool-total">{{ nbPools }}</span>
        </h3>
        <div class="riders-list">
          <div
            class="riders-list-inner"
            [@listAnimation]="currentRiders?.length ?? 0"
          >
            <div
              class="riders-active-highlight"
              [class.riders-active-highlight--hidden]="activeRiderIndex < 0"
              [style.--active-index]="
                activeRiderIndex >= 0 ? activeRiderIndex : 0
              "
              aria-hidden="true"
            ></div>
            <div
              class="rider-row"
              [class.active]="currentRider?._id === rider._id"
              *ngFor="let rider of currentRiders; trackBy: trackByRider"
              [title]="
                (rider.registration?.rider?.firstName || '') +
                ' ' +
                (rider.registration?.rider?.lastName || '')
              "
            >
              <span class="rider-indicator" aria-hidden="true"></span>
              <div class="rider-name">
                <span class="rider-firstname">{{
                  rider.registration?.rider?.firstName
                }}</span>
                <span class="rider-lastname">{{
                  rider.registration?.rider?.lastName
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="timer-section">
    <span
      class="timer-label"
      [class.timer-label--stacked]="currentStepFormat === 'BEST TRICK'"
    >
      <ng-container *ngIf="currentStepFormat === 'BEST TRICK'; else timerLabelDefault">
        <span class="timer-label-line">BEST</span>
        <span class="timer-label-line">TRICK</span>
      </ng-container>
      <ng-template #timerLabelDefault>{{ currentStepFormat }}</ng-template>
    </span>
    <span class="timer-value">
      <countdown #cd [config]="config"></countdown>
    </span>
  </div>
</div>
