@import "../../../styles/colors.scss";
@import "../../../styles/components.scss";
@import "../../../styles/border-radius.scss";

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 5vw;
  padding-bottom: 5vw;

  app-tabs {
    width: 84vw;
    padding: 3vw;
    border-radius: $border-radius-1;
    background-color: $firstry-white-2;
  }
}
