<div class="main">
  <card
    class="card"
    [color]="isMobile ? '1' : 'white'"
    [img]="isMobile ? '' : '../../../assets/dashboard/DSC09103.jpg'"
    [fitContent]="isMobile ? true : false"
    imgHeight="35"
    [btn]="isMobile ? false : true"
    btnIcon="fa-solid fa-xmark"
    (btnClicked)="closeModal()"
  >
    <p-tabView [(activeIndex)]="openTab">
      <p-tabPanel header="Connexion">
        <app-connexion (connected)="closeModal()"></app-connexion>
      </p-tabPanel>
      <p-tabPanel header="Inscription">
        <sign-up (connected)="closeModal()"></sign-up>
      </p-tabPanel>
    </p-tabView>
  </card>
</div>
