@import "../../../../../styles/colors.scss";

.main {
  position: relative;
}

.photo {
  width: 10vw;
  border-radius: 15px;
  -webkit-filter: drop-shadow(0px 0px 10px #5d5d5d);
  filter: drop-shadow(0px 0px 10px #5d5d5d);
}

.overflowx {
  overflow-x: scroll;
}

.rider {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.scroll {
  width: 80vw;
  gap: 2vw;
}

.scroll::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.scroll::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
  z-index: 888;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: black; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 5px solid $firstry-white-2; /* creates padding around scroll thumb */
  z-index: 888;
}

.shadow {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 10px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.342) 0%,
    rgba(0, 0, 0, 0.141) 37%,
    rgba(0, 0, 0, 0) 68%,
    rgba(0, 212, 255, 0) 100%
  );
  height: 100%;
  width: 10vw;
}

.infos {
  position: absolute;
  bottom: -5px;
  left: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: white;
  width: 10vw;
  transition: 0.3s;

  .name {
    font-variation-settings: "wght" 700;
  }

  .cat {
    font-variation-settings: "wght" 300;
  }
}

.btns {
  position: absolute;
  bottom: -5px;
  left: 0;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 10vw;
  opacity: 0;
  z-index: 150;
  transition: display 0.01s, opacity 0.3s;
}

.rider:hover {
  .infos {
    color: transparent;
  }

  .btns {
    opacity: 1;
  }
}
