<div class="main" [@fadeInOut]>
  <h1 class="mainTitle">CONTESTS</h1>
  <div class="content" *ngIf="contests">
    <div class="section">
      <h2>Dans une semaine <i class="fa-solid fa-chevron-down fa-2xs"></i></h2>
      <div class="flexCardRow flexWrap spaceBetween">
        <contest-card
          class="contest"
          [routerLink]="['/contests', contests[0]._id]"
          [contest]="contests[0]"
        >
        </contest-card>
      </div>
    </div>
    <div class="section">
      <h2>Le mois prochain <i class="fa-solid fa-chevron-down fa-2xs"></i></h2>
      <div class="flexCardRow flexWrap spaceBetween">
        <contest-card
          class="contest"
          [routerLink]="['/contests', contest._id]"
          [contest]="contest"
          *ngFor="let contest of contests"
        >
        </contest-card>
      </div>
    </div>
  </div>
</div>
