@import "../../../../../styles/colors.scss";

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh 0.2vh;
  padding: 0.4vh 1.2vh;
  border-radius: 8px;
  border: none;
  font-variation-settings: "wght" 500;
  font-family: "HankenGrotesk";
  transition: 0.3s;
}

.primary {
  background-color: $firstry-black-2;
  color: $firstry-white-1;
  border: 1px solid transparent;
}

.secondary {
  color: $firstry-black-2;
  background-color: $firstry-white-1;
  border: 1px solid $firstry-black-2;
}

.third {
  background-color: rgb(148, 148, 148);
  color: white;
  border: 1px solid transparent;
}

.left {
  margin-right: 0.7vh;
}

.right {
  margin-left: 0.7vh;
}
