@import "../../../../../styles/colors.scss";

button {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  font-variation-settings: "wght" 500;
  font-family: "HankenGrotesk";
  transition: 0.3s;
}

.iconOnly {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 10vw;
}

.s {
  padding: 4px 10px;
}

.m {
  padding: 6px 12px;
  border-radius: 6px;
}

.l {
  padding: 8px 15px;
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  .iconOnly {
    width: 3vw;
    height: 3vw;
  }

  .iconOnly.xl {
    width: 3vw;
    height: 3vw;
    font-size: 25px;
  }

  .iconOnly.l {
    width: 2vw;
    height: 2vw;
    font-size: 20px;
  }

  .iconOnly.m {
    width: 32px;
    height: 32px;
    font-size: 15px;
    padding: 12px 12px;
  }

  .iconOnly.s {
    width: 1vw;
    height: 1vw;
    font-size: 10px;
  }

  .iconOnly.xs {
    width: 1vw;
    height: 1vw;
    font-size: 10px;
  }
}

.primary {
  background-color: $firstry-black-2;
  color: $firstry-white-1;
  border: 1px solid transparent;
}

.primary:hover {
  background-color: $firstry-black-3;
  color: $firstry-white-1;
  border: 1px solid transparent;
}

.secondary {
  color: $firstry-black-2;
  background-color: $firstry-white-1;
}

.secondary:hover {
  color: $firstry-black-2;
  background-color: $firstry-white-3;
}

.third {
  background-color: $firstry-white-2;
  color: $firstry-black-2;
  font-variation-settings: "wght" 800;
  border: 1px solid transparent;
}

.third:hover {
  background-color: $firstry-white-3;
}

.fourth {
  background-color: transparent;
  color: $firstry-black-4;
  border: 1px solid transparent;
}

.danger {
  background-color: $firstry-red-2;
  color: $firstry-white-1;
  font-variation-settings: "wght" 800;
  border: 1px solid transparent;
}

.danger:hover {
  background-color: $firstry-red-1;
}

.transparent {
  background-color: transparent;
  color: $firstry-black-2;
}

.left {
  margin-right: 0.7vh;
}

.right {
  margin-left: 0.7vh;
}

.xl {
  padding: 0.6vh 1.4vh;
  font-size: 18px;
}

.l {
  padding: 0.6vh 1.4vh;
  font-size: 14px;

  .left {
    margin-right: 1.4vh;
  }

  .right {
    margin-right: 1.4vh;
  }
}

.m {
  font-size: 14px;
}

.s {
  font-size: 12px;
}

.xs {
  font-size: 10px;
}
