@import "../../../../../styles/colors.scss";
@import "../../../../../styles/variables.scss";

.inputGroup {
  .xs {
    height: 10vw;
  }

  .m {
    height: 15vw;
  }

  .l {
    height: 20vw;
  }

  p {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .inputGroup {
    .xs {
      height: 5vw;
    }

    .md {
      height: 7vw;
    }

    .lg {
      height: 10vw;
    }
  }
}
