<form [formGroup]="userForm">
  <div class="inputGroup">
    <h4 for="role">Je suis un.e</h4>
    <div class="inputRowGroup">
      <chips-group
        [isBinary]="true"
        [preSelect]="true"
        [chips]="[
          { value: 'rider', name: 'Rider' },
          { value: 'contest', name: 'Contest' }
        ]"
        formControlName="role"
      ></chips-group>
    </div>
  </div>
  <div class="inputGroup">
    <h4 for="email">Votre email</h4>

    <input
      pInputText
      type="Email"
      placeholder="Email"
      formControlName="email"
      [class.ng-dirty]="fus.isFieldInvalid('email') || !emailAvailable"
      required
    />

    <small *ngIf="userForm.get('email').errors" class="p-error"
      >Email invalide</small
    >
    <small *ngIf="!emailAvailable" class="p-error">Email déjà utilisé</small>
  </div>
  <div class="inputGroup">
    <h4>Votre mot de passe</h4>

    <p-password
      styleClass="p-password p-component p-inputwrapper p-input-icon-right"
      [style]="{ width: '100%' }"
      [inputStyle]="{ width: '100%' }"
      minlength="6"
      formControlName="password"
      [class.ng-dirty]="fus.isFieldInvalid('password')"
      required
    ></p-password>
    <p-password
      styleClass="p-password p-component p-inputwrapper p-input-icon-right"
      [style]="{ width: '100%' }"
      [inputStyle]="{ width: '100%' }"
      minlength="6"
      formControlName="confirmPassword"
      [feedback]="false"
      [class.ng-dirty]="fus.isFieldInvalid('confirmPassword')"
      required
    ></p-password>
    <small *ngIf="!passwordMatch()" class="p-error">
      Les mots de passe doivent être identiques !
    </small>
  </div>
</form>
