<form [formGroup]="userForm">
  <div class="inputGroup">
    <h4 for="role">Je suis un.e</h4>
    <p-selectButton
      [options]="[
        { label: 'Rider', value: 'rider' },
        { label: 'Contest', value: 'contest' }
      ]"
      optionLabel="label"
      name="role"
      optionValue="value"
      formControlName="role"
    ></p-selectButton>
  </div>
  <div class="inputGroup">
    <h4 for="email">Votre email</h4>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="fa-solid fa-at"></i>
      </span>
      <input
        pInputText
        type="Email"
        placeholder="Email"
        formControlName="email"
        required
      />
    </div>
    <small *ngIf="userForm.get('email').errors" class="p-error"
      >Email invalide</small
    >
  </div>
  <div class="inputGroup">
    <h4>Votre mot de passe</h4>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="fa-solid fa-key"></i>
      </span>
      <p-password
        minlength="6"
        formControlName="password"
        required
      ></p-password>
    </div>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="fa-solid fa-key"></i>
      </span>

      <p-password
        minlength="6"
        formControlName="password"
        [feedback]="false"
        required
      ></p-password>
    </div>
  </div>
</form>
