<div class="navbar">
  <nav>
    <img
      class="logo"
      src="../../../../assets/logos/Globe_Blanc.png"
      alt="logo"
    />
    <div routerLink="/" routerLinkActive="active" class="link">
      <btn type="secondary" size="nav" icon="fa-solid fa-home"></btn>
      <p class="label">Accueil</p>
    </div>
    <div routerLink="/riders" routerLinkActive="active" class="link">
      <btn size="nav" icon="fa-solid fa-person-skating"></btn>
      <p class="label">Riders</p>
    </div>
    <div routerLink="/contests" routerLinkActive="active" class="link">
      <btn size="nav" icon="fa-solid fa-calendar "></btn>
      <p class="label">Contests</p>
    </div>
    <div
      *ngIf="_authService.isCurrentUserOrganizer()"
      routerLink="/dashboard"
      routerLinkActive="active"
      class="link"
    >
      <btn size="nav" icon="fa-solid fa-gear "></btn>
      <p class="label">Dashboard</p>
    </div>
  </nav>
</div>
