@import "../../../../../styles/variables.scss";
@import "../../../../../styles/colors.scss";

select {
  border: 1px solid transparent;
  border-radius: 8px;
  padding-left: 7px;
  height: $mobile_inputHeight;
  width: 100%;
  color: $firstry-black-2;
  background-color: $firstry-white-1;
  font-variation-settings: "wght" 400;
  font-family: "HankenGrotesk";
  cursor: pointer;
}

.select-items div,
.select-selected {
  color: #680404;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

select:focus {
  border: 1px solid $firstry-white-3;
  outline: none;
}
