@import "../../../../styles/colors.scss";
@import "../../../../styles/components.scss";

@media only screen and (max-width: 768px) {
  .menu-exit {
    position: absolute;
    top: 0;
    justify-content: space-between;
    align-items: center;
    color: transparent;
    padding: 3vh;
    height: 3vh;
    z-index: 999;
    transition: 0.5s;
  }

  .navbar {
    position: fixed;
    top: 0;
    padding-top: 5vh;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: $firstry-black-1;
    transition: 0.5s;
    z-index: 998;

    .nav-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 80vh;
      transition: 0.5s;

      img {
        height: 6vh;
      }

      li {
        z-index: -999;
        margin-bottom: 5vh;
        width: 70vw;
        transition: 0.5s;

        a {
          display: flex;
          justify-content: space-between;
          color: transparent;
          text-decoration: none;
          transition: 0.5s;
          p {
            color: $firstry-white-1;
            font-family: "HankenGrotesk";
            font-size: 17px;
            transition: 0.5s;
          }

          i {
            align-self: center;
          }
        }
      }

      .connexion {
        display: flex;
        flex-direction: column;
        gap: 3vh;
      }
    }
  }

  .menu-exit.active {
    color: $firstry-white-1;
  }

  .navbar.active {
    left: 0;

    .menu-toggle {
      color: $firstry-white-1;

      img {
        display: block;
        opacity: 1;
      }
    }

    .nav-list {
      z-index: 999;
      li {
        margin-right: 0px;

        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: $firstry-white-1;
          padding-left: 10vw;
          padding-right: 10vw;
        }

        a.activeLink {
          border-left: 3px solid white;
        }
      }
    }
  }
}

.icon {
  height: 30px;
  width: 30px;
}

.icon-property {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 20px;
  transition: 0.3s;
}

.footer {
  color: $firstry-black-3;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;

  a {
    color: $firstry-black-3;
  }
}
