<div class="main">
  <h1 class="mainTitle">RIDERS ?</h1>
  <!-- <div class="filters">
      <p-dropdown [options]="sports" optionLabel="name"></p-dropdown>
    </div> -->
  <loader *ngIf="isLoading"></loader>
  <div *ngIf="isMobile" class="riders">
    <rider-card-md
      *ngFor="let rider of riders; let i = index"
      [style.--rider-index]="i"
      [rider]="rider"
      [width]="40"
      [widthPhoto]="40"
      [height]="45"
      class="rider"
      [routerLink]="['/riders', rider._id]"
    ></rider-card-md>
  </div>
  <div *ngIf="!isMobile">
    <div class="riders">
      <rider-card-md
        *ngFor="let rider of riders; let i = index"
        [style.--rider-index]="i"
        [rider]="rider"
        [width]="15"
        [height]="17"
        class="rider"
        [routerLink]="['/riders', rider._id]"
      ></rider-card-md>
    </div>
  </div>
</div>
