@import "../../../styles/components.scss";

.main {
  display: flex;
  flex-direction: column;

  h1 {
    align-self: center;
  }

  loader {
    margin-top: 10vw;
    align-self: center;
  }

  .riders {
    margin-top: 5vh;
    display: flex;
    width: 90vw;
    gap: 10vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    // Afficher chaque carte rider avec une animation
    .rider {
      opacity: 0;
      animation: slide-right 0.6s ease-in-out;
      animation-delay: calc(0.15s * var(--rider-index));
      animation-fill-mode: forwards;
    }

    // Animation
    @keyframes slide-right {
      0% {
        opacity: 0;
        transform: translateX(-70px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .main {
    h1 {
      align-self: flex-start;
      font-size: 4vw;
    }

    .riders {
      align-self: center;
      gap: 5vw;
      width: 100%;
    }
  }
}
