<h1 class="mainTitle">RIDERS</h1>
<div class="main" [@fadeInOut]>
  <card
    title="Rechercher un rider par filtres"
    size="m"
    [toggle]="true"
    [toggleBtn]="true"
    class="fullWidth"
    [btn]="
      currentNameFilter != '' ||
      (currentSportsFilter && currentSportsFilter.length > 0)
    "
    btnLabel="Réinitialiser les filtres"
    btnIcon="fa-solid fa-xmark"
    (btnClicked)="resetFilters()"
  >
    <form
      [formGroup]="filtersForm"
      [class]="isMobile ? 'flexColumn ' : 'flexRow alignEnd spaceBetween'"
    >
      <chips-group
        label="Sports"
        [chips]="sportsOptions"
        formControlName="sports"
        [edit]="true"
      ></chips-group>
      <input-text
        label="Recherche par nom"
        placeholder="Entrer le nom"
        formControlName="name"
        [edit]="true"
      ></input-text>
      <div class="buttons">
        <btn
          class="alignSelfEnd"
          label="Rechercher"
          icon="fa-solid fa-magnifying-glass"
          (click)="searchRiders()"
        ></btn>
      </div>
    </form>
  </card>
  <loader *ngIf="isLoading"></loader>
  <div class="riders">
    <rider-card-md
      *ngFor="let rider of riders; let i = index"
      [style.--rider-index]="i"
      [rider]="rider"
      [width]="isMobile ? 40 : 15"
      [height]="isMobile ? 45 : 17"
      class="rider"
      [routerLink]="['/riders', rider._id]"
    ></rider-card-md>
    <div
      class="empty"
      *ngFor="let item of emptyItems"
      [ngStyle]="{ 'width.vw': isMobile ? 40 : 15 }"
    ></div>
  </div>
  <pagination-handler
    class="pagination"
    [totalPages]="totalPages"
    [currentPage]="currentPage"
    (pageChanged)="pageChanged($event)"
  ></pagination-handler>
</div>
