<div class="header">
  <btn
    [routerLink]="['/riders']"
    label="Retour"
    icon="fa-solid fa-angles-left fa-2xs"
    iconPos="left"
  ></btn>
</div>
<div class="content">
  <rider-card-lg [rider]="rider"></rider-card-lg>
  <div [class.flexRow]="rider.socials">
    <rider-result class="fullWidth" [rider]="rider"></rider-result>
    <socials
      class="flexStart"
      [socials]="rider ? rider.socials : undefined"
    ></socials>
  </div>
  <rider-sample-list></rider-sample-list>
</div>
<div class="footer"></div>
