@import "../../../../styles/components.scss";

.header {
  padding: 2vh;
}

.content {
  display: flex;

  .photo {
    img {
      max-height: 35vh;
      border-radius: 10px;
    }
  }

  .rider {
    width: 90vw;
  }
}
