@import "../../../../../styles/colors.scss";
@import "../../../../../styles/variables.scss";

.chips-group {
  display: flex;
}

.chips {
  margin-top: $mobile_marginInput;
  display: flex;
  flex-wrap: wrap;
  gap: 3vw;
}

@media only screen and (min-width: 768px) {
  .chips {
    margin-top: $pc_marginLabel;
    gap: 1vw;
  }
}
