@import "../../../styles.scss";

.navbar {
  position: absolute;
  top: 0;
  width: 0vw;
  background-color: $firstry-black-1;
  height: 100vh;
  transition: 0.5s;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Styles pour mobile */
@media only screen and (max-width: 768px) {
  .menu-toggle {
    cursor: pointer;
    padding: 20px;
    color: $firstry-black-1;
  }

  .nav-list {
    .main {
      justify-self: start;
      margin-bottom: 30vh;
    }

    .connexion {
      justify-self: self-end;
    }

    li {
      border-bottom: 1px solid transparent;
      margin-bottom: 5vh;

      .nav-btn {
        color: transparent;
        text-decoration: none;
        font-size: 20px;
        font-family: "Akira";
      }
    }

    nav-icon-btn {
      opacity: 0;
      transition: 0.2s;
      transition-delay: 0.2s;
    }
  }

  .navbar.active {
    width: 50vw;

    .menu-toggle {
      color: $firstry-white-1;
    }

    li {
      transition: 0.2s;
      border-bottom: 1px solid $firstry-white-1;

      .nav-btn {
        color: $firstry-white-1;
      }
    }

    .connexion > li {
      border: none;
    }

    nav-icon-btn {
      opacity: 1;
    }
  }
}

/* Styles pour PC */
@media only screen and (min-width: 769px) {
  .menu-toggle {
    display: none;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 110px;
    background-color: $firstry-black-1;

    img {
      margin-top: 10px;
      width: 70px;
      mix-blend-mode: exclusion;
      cursor: pointer;
    }
  }
}
