@import "../../../styles/colors.scss";
@import "../../../styles/components.scss";

@media only screen and (max-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    width: 0vw;
    background-color: $firstry-black-1;
    height: 100vh;
    transition: 0.5s;
    z-index: 999;

    .menu-toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 6vh;
      width: 6vh;
      color: $firstry-black-1;
      transition: 0.3s;
    }

    .nav-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding-top: 5vh;
      height: 85vh;
      transition: 0.5s;

      li {
        z-index: -999;
        border-bottom: 1px solid transparent;
        margin-bottom: 5vh;
        font-size: 20px;
        font-family: "Akira";
        margin-right: 50vw;
        transition: 0.5s;

        a {
          color: transparent;
          text-decoration: none;
          transition: 0.5s;
        }
      }

      .connexion {
        li {
          border: none;
          font-family: "Montserrat";
          font-size: 15px;
        }
      }
    }
  }

  .navbar.active {
    width: 50vw;

    .menu-toggle {
      color: $firstry-white-1;

      img {
        display: block;
        opacity: 1;
      }
    }

    .nav-list {
      z-index: 999;
      li {
        margin-right: 0px;
        border-bottom: 1px solid $firstry-white-1;

        a {
          color: $firstry-white-1;
        }
      }

      .connexion {
        li {
          border: none;
          font-family: "Montserrat";
          font-size: 15px;
        }
      }
    }
  }
}
