<div
  class="menu-exit"
  id="mobile-menu"
  (click)="emitClickToggle()"
  [class.active]="toggleSidebar"
>
  <i class="fa-solid fa-2xl fa-xmark"></i>
</div>
<nav class="navbar" [class.active]="toggleSidebar">
  <ul class="nav-list">
    <img src="../../../assets/logos/Globe_Blanc.png" alt="logo" />
    <div class="main">
      <li>
        <a routerLink="/" (click)="emitClickToggle()">
          <i class="fa-solid fa-xs fa-home"></i>
          <p>ACCUEIL</p></a
        >
      </li>
      <li>
        <a routerLink="/riders" (click)="emitClickToggle()">
          <i class="fa-solid fa-xs fa-person-skating"></i>
          <p>RIDERS</p>
        </a>
      </li>
      <li>
        <a routerLink="/contests" (click)="emitClickToggle()"
          ><i class="fa-regular fa-xs fa-calendar"></i>
          <p>CONTESTS</p></a
        >
      </li>
      <li>
        <a routerLink="/dashboard" (click)="emitClickToggle()">
          <i class="fa-solid fa-xs fa-globe"></i>
          <p>DASHBOARD</p>
        </a>
      </li>
    </div>
    <div class="connexion">
      <div
        class="primary-btn connexion"
        (click)="emitClickToggle()"
        routerLink="/login"
        *ngIf="!isLoggedIn"
      >
        CONNEXION
      </div>
      <div
        class="secondary-btn connexion"
        (click)="emitClickToggle()"
        routerLink="/register"
        *ngIf="!isLoggedIn"
      >
        INSCRIPTION
      </div>
    </div>
  </ul>
</nav>
<app-modal [show]="showLoginModal" (onClose)="closeModal()"
  ><app-login></app-login>
</app-modal>
