@import "../../../../../styles/colors.scss";

.tag {
  display: flex;
  padding: 0.3rem 0.6rem;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  background-color: $firstry-white-1;
  color: $firstry-black-3;
  width: fit-content;
  align-items: center;

  p {
    margin-left: 8px;
    text-align: center;
  }
}

.xs p,
.xs i {
  font-size: 8px;
}

.s p,
.s i {
  font-size: 10px;
}

.m p,
.m i {
  font-size: 12px;
}

.l p,
.l i {
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .tag {
    display: flex;
    padding: 0.3rem 0.6rem;
    border-radius: 10px;
    font-size: 14px;
  }

  .xs p,
  .xs i {
    font-size: 8px;
  }

  .s p,
  .xs i {
    font-size: 10px;
  }

  .m p,
  .m i {
    font-size: 12px;
  }

  .l p,
  .l i {
    font-size: 14px;
  }
}
