@import "../../../../../styles/colors.scss";

.tag {
  display: flex;
  padding: 0.3rem 0.6rem;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  background-color: $firstry-white-1;
  color: $firstry-black-3;
  width: fit-content;
  align-items: center;

  p {
    margin-left: 8px;
    text-align: center;
  }
}

.s {
  padding: max(3px, 0.6vw) max(6px, 1.2vw);

  p,
  i {
    font-size: max(8px, 2vw);
  }
}

.m {
  padding: max(3px, 0.6vw) max(6px, 1.2vw);

  p,
  i {
    font-size: max(8px, 2vw);
  }
}

.l {
  padding: max(5px, 0.8vw) max(8px, 1.6vw);

  p,
  i {
    font-size: max(10px, 3vw);
  }
}

.primary {
  background-color: $firstry-black-2;
  color: $firstry-white-1;
}

.secondary {
  background-color: $firstry-white-1;
  color: $firstry-black-2;
}

@media screen and (min-width: 768px) {
  .tag {
    display: flex;
    padding: 0.3rem 0.6rem;
    border-radius: 10px;
    font-size: 14px;
  }

  .xs p,
  .xs i {
    font-size: 8px;
  }

  .s {
    padding: max(3px, 0.2vw) max(6px, 0.4vw);

    p,
    i {
      font-size: max(10px, 0.6vw);
    }
  }

  .m {
    padding: max(3px, 0.2vw) max(6px, 0.4vw);

    p,
    i {
      font-size: max(10px, 0.6vw);
    }
  }

  .l {
    padding: max(6px, 0.3vw) max(10px, 0.6vw);

    p,
    i {
      font-size: max(12px, 0.7vw);
    }
  }
}
