@import "../../../../../styles/colors.scss";

.tag {
  display: flex;
  padding: 0.3rem 0.6rem;
  border-radius: 10px;
  font-weight: 500;
  line-height: 1;
  background-color: $firstry-white-1;
  color: $firstry-black-3;
  width: fit-content;

  p {
    margin-left: 5px;
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) {
  .tag {
    display: flex;
    padding: 0.3rem 0.6rem;
    border-radius: 10px;

    p {
      margin-left: 8px;
      font-size: 12px;
    }
  }
}

.xs {
  font-size: 8px;
}

.s {
  font-size: 10px;
}

.m {
  font-size: 12px;
}

.l {
  font-size: 14px;
}
