.stepFormatForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
}

.stepFormatDisplay {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
  width: fit-content;
}

.dd {
  width: 10vw;
}
