<form *ngIf="edit" [formGroup]="form" class="stepFormatForm">
  <dropdown
    [options]="formats"
    (selected)="onSelectedFormat($event)"
    [fitContent]="true"
  ></dropdown>
  <input-text
    *ngIf="selectedFormat.value == 'JAM'"
    formControlName="jamTimer"
    name="jamTimer"
    placeholder="Durée de la jam..."
  ></input-text>
  <input-text
    *ngIf="selectedFormat.value == 'RUN'"
    formControlName="runTimer"
    name="runTimer"
    placeholder="Durée de la run..."
  ></input-text>
  <input-text
    *ngIf="selectedFormat.value == 'BEST_TRICKS'"
    formControlName="bestTricksTryCount"
    name="bestTricksTryCount"
    placeholder="Nombre d'essais..."
  ></input-text>
  <btn
    type="danger"
    icon="fa-solid fa-xmark"
    size="s"
    (click)="delete.emit()"
  ></btn>
</form>

<div *ngIf="!edit" class="stepFormatDisplay">
  <h4>RUN</h4>
  <span>-</span>
  <h5>45s</h5>
</div>
