<div
  [class]="'content ' + (isMobile ? 'flexCardColumn' : 'flexCardRow')"
  *ngIf="contest"
>
  <div class="leftPannel flexCardColumn">
    <div [class]="isMobile ? 'flexCardColumn' : 'flexCardRow'">
      <img
        class="poster"
        [src]="
          contest.branding && contest.branding.poster
            ? contest.branding.poster
            : ''
        "
        alt=""
        *ngIf="!isMobile"
      />
      <card class="flex1" title="Description"
        ><p>{{ contest.description }}</p></card
      >
    </div>
    <div [class]="isMobile ? 'flexCardColumn' : 'flexCardRow'">
      <div [class]="'flexCardRow'">
        <socials *ngIf="contest.socials" [socials]="contest.socials"></socials>
      </div>
      <div [class]="'flexCardColumn flex1'">
        <maps-card class="map" [address]="contest.location.address"></maps-card>
        <div [class]="isMobile ? 'flexCardColumn' : 'flexCardRow'">
          <card class="flex1" title="Dates" size="s"
            ><p>
              {{
                (contest.startDate | date : "dd/MM/yyyy") +
                  " - " +
                  (contest.endDate | date : "dd/MM/yyyy")
              }}
            </p></card
          >
          <card
            class="flex1 cursorPointer"
            size="s"
            color="black"
            routerLink="/contests/{{ contest._id }}/register"
          >
            <div class="inscriptionCard flexRow alignCenter gap10">
              <h2>JE VEUX <b>M'INSCRIRE</b></h2>
            </div>
          </card>
        </div>
      </div>
    </div>
  </div>
  <div class="rightPannel" *ngIf="!isMobile">
    <planning
      class="planning"
      [contest]="contest"
      [categories]="contest.categories"
    ></planning>
  </div>
</div>
