.planning {
  width: 100%;
}

.map {
  height: 100%;
  width: 100%;
}

.date {
  font-size: 25px;
}

.inscriptionCard {
  color: white;

  h2 {
    text-align: start;
    word-wrap: normal;
    font-size: 40px;
    font-variation-settings: "wght" 200;

    b {
      font-size: 50px;
    }
  }
}

@media screen and (min-width: 768px) {
  .leftPannel {
    display: flex;
    flex-direction: column;
    flex: 4;

    .poster {
      width: auto;
      height: 17vw;
      border-radius: 11px;
    }
  }

  .rightPannel {
    display: flex;
    flex: 2;
  }
}
