<card title="Règles" [fitContent]="true">
  <form class="form">
    <input-text
      name="name"
      placeholder="Nom..."
      label="Nom"
      formControlName="rules"
      [edit]="edit"
      [error]="
        touched && (fus.isFieldInvalid('name') || form.get('name').value == '')
      "
    ></input-text>
    <input-textarea
      name="description"
      placeholder="Description..."
      label="Description"
      formControlName="description"
      [edit]="edit"
      [error]="
        touched &&
        (fus.isFieldInvalid('description') ||
          form.get('description').value == '')
      "
    ></input-textarea>
  </form>
</card>
