@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "src/styles/customTheme.css";
@import "./styles/angular-calendar.scss";
@import "./styles/fonts.scss";
@import "./styles/primeng.scss";
@import "./styles/variables.scss";
@import "./styles/colors.scss";
@import "./styles/components.scss";
@import "./styles/form.scss";
@import "./styles/basics.scss";
@import "./styles/text.scss";

@font-face {
  font-family: "HankenGrotesk";
  src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf)
    format("opentype");
}

html {
  font-family: "HankenGrotesk";
}

body,
body .p-component {
  font-family: "HankenGrotesk";
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
}

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
  z-index: 888;
}

body::-webkit-scrollbar-thumb {
  background-color: black; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid white; /* creates padding around scroll thumb */
  z-index: 888;
}

html,
body {
  height: 100%;
}
