@import "src/styles/customTheme.css";
@import "./styles/fonts.scss";
@import "./styles/primeng.scss";

@font-face {
  font-family: "HankenGrotesk";
  src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf)
    format("opentype");
}

body,
body .p-component {
  font-family: "HankenGrotesk";
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
}

.title {
  margin: 2vh;
  font-family: "Akira";
}

html,
body {
  height: 100%;
}
