<h1 class="mainTitle">Reset mot de passe</h1>
<div class="container">
  <card *ngIf="isTokenValid" title="Réinitialisation de votre mot de passe">
    <form *ngIf="!isPasswordReset" [formGroup]="form">
      <input-text
        type="password"
        label="Nouveau mot de passe"
        placeholder="Nouveau mot de passe..."
        formControlName="newPassword"
        [error]="_fus.isFieldInvalid('newPassword')"
      >
      </input-text>
      <input-text
        type="password"
        label="Confirmer votre mot de passe"
        placeholder="Confirmer votre mot de passe..."
        formControlName="newPassword2"
        [error]="_fus.isFieldInvalid('newPassword2')"
      >
      </input-text>
      <note
        *ngIf="!isPasswordsMatching"
        type="errorLabel"
        text="Les mots de passe ne sont pas identiques !"
      ></note>
      <div class="formButtons JflexEnd">
        <btn label="Valider" (click)="submit()" icon="fa-solid fa-check"></btn>
      </div>
    </form>
    <p *ngIf="isPasswordReset">Votre mot de passe a bien été réinitialisé !</p>
  </card>
  <card *ngIf="!isTokenValid" title="Lien expiré ou incorrect !">
    <div class="flexRow justifyCenter">
      <btn label="Retour à l'accueil" routerLink="/"></btn>
    </div>
  </card>
</div>
