<div class="card">
  <div class="content">
    <img
      *ngIf="!rider.photoUrl || rider.photoUrl == ''"
      src="../../../../assets/riders/pnj.png"
      alt="Rider"
      class="photoRider"
    />
    <img
      *ngIf="rider.photoUrl && rider.photoUrl != ''"
      [src]="rider.photoUrl"
      alt="Rider"
      class="photoRider"
    />
    <div class="infos">
      <div class="name">
        <h3 class="firstName">{{ rider.firstName }}</h3>
        <h3 class="lastName">{{ rider.lastName }}</h3>
      </div>
      <div class="sep"></div>
      <div class="footer">
        <p Capitalize class="sports">{{ rider.sports }}</p>
        <img
          *ngIf="rider.nationality"
          [src]="rider.nationality.flags.png"
          alt=""
          class="nationality"
        />
      </div>
    </div>
  </div>
  <div class="shadow fadeBlackBg"></div>
  <quadrillage
    class="quadrillage"
    [heigth]="190"
    [width]="40"
    [nbRows]="6"
    [nbColumns]="6"
  ></quadrillage>
</div>
