@import "../../../../styles/components.scss";
@import "../../../../styles/colors.scss";

button {
  margin-top: 20px;
  height: 70px;
  width: 70px;
  border: 3px solid $firstry-black-1;
  border-radius: $border-radius-1;
  cursor: pointer;

  .icon {
    transform: scale(2);
  }
}

.primary {
  background-color: $firstry-white-1;
  color: $firstry-black-1;
}

.secondary {
  background-color: $firstry-black-3;
  color: $firstry-white-1;
}

button:hover {
  background-color: $firstry-black-1;
  transition: 0.1s;
}
