<div class="dropdown-input">
  <label *ngIf="label != ''" [htmlFor]="name">{{ label }}</label>
  <div class="input" *ngIf="edit">
    <input
      [class.error]="error"
      [name]="name"
      [placeholder]="placeholder"
      [(ngModel)]="input"
      type="text"
      (input)="filterOptions()"
      placeholder="Sélectionnez une option"
    />
    <button class="toggle-button" (click)="toggleDropdown()">
      <i class="fa-solid fa-arrow-down"></i>
      <!-- Utilisez une icône de flèche vers le bas ici -->
    </button>
  </div>
  <div [class.active]="showDropdown" class="dropdown-options">
    <div
      class="option"
      *ngFor="let option of filteredOptions"
      (click)="selectOption(option)"
    >
      <ng-container
        *ngTemplateOutlet="optionTemplate; context: { $implicit: option }"
      ></ng-container>
    </div>
  </div>
  <ng-content *ngIf="!edit"></ng-content>
</div>
