@import "../../../../../styles/colors.scss";
@import "../../../../../styles/variables.scss";

.dropdown-input {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

  .input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    input {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    input:focus {
      outline: none;
    }
  }

  .dropdown-options {
    position: absolute;
    display: none;
    min-width: 100%;
    top: 54px;
    overflow-y: scroll;
    max-height: 100px;
    flex-direction: column;
    border-radius: 8px;
    z-index: 1;
    background-color: $firstry-white-1;

    .option {
      padding-left: 7px;
      font-size: 15px;
      color: $firstry-black-2;
      cursor: pointer;
    }
  }

  .active {
    display: flex;
    animation: fade-in-out 0.4s ease-in-out forwards;
  }

  @keyframes fade-in-out {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .toggle-button {
    background-color: $firstry-black-2;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 0px 8px 8px 0px;
    width: $mobile_inputHeight;
    height: $mobile_inputHeight;
  }
}
