<!-- <p class="title">ACCUEIL</p> -->

<app-btn-primary
  *ngIf="authService.getCurrentUser()"
  (click)="logout()"
  [content]="'Se déconnecté'"
  [icon]="'person-running'"
></app-btn-primary>

<app-btn-primary
  (click)="isLoggedIn()"
  [content]="'is isLoggedIn ?'"
  [icon]="'person-running'"
></app-btn-primary>

<app-btn-primary
  (click)="getCurrentUser()"
  [content]="'Current user'"
  [icon]="'person-running'"
></app-btn-primary>

<app-btn-primary
  (click)="isValid()"
  [content]="'isValid()'"
  [icon]="'person-running'"
></app-btn-primary>
