<!-- <p-steps [model]="items" [activeIndex]="activeIndex"></p-steps> -->

<div class="content">
  <div *ngIf="activeIndex === 0">
    <form onsubmit="next(credentialsForm)">
      <signup-credentials-form
        [userForm]="credentialsForm"
        [emailAvailable]="emailAvailable"
        (nextStep)="next(credentialsForm)"
      ></signup-credentials-form>
    </form>
  </div>

  <div *ngIf="activeIndex === 1 && credentialsForm.value.role == 'rider'">
    <signup-rider-form
      [riderForm]="riderForm"
      [touched]="riderFormTouched"
      (nextStep)="next(riderForm)"
    ></signup-rider-form>
  </div>

  <div *ngIf="activeIndex === 1 && credentialsForm.value.role == 'organizer'">
    <signup-organizer-form
      [organizerForm]="organizerForm"
      [touched]="organizerFormTouched"
      (nextStep)="next(organizerForm)"
    ></signup-organizer-form>
  </div>
</div>

<div *ngIf="activeIndex === 2 && !isLoading">
  <signup-photo-form
    [photoForm]="photoForm"
    [photoFile]="photoFile"
    [signupTypeRider]="credentialsForm.value.role == 'rider' ? true : false"
    (uploadPhoto)="uploadPhoto($event)"
  ></signup-photo-form>
</div>

<div *ngIf="isLoading" class="flexRow justifyCenter">
  <loader></loader>
</div>
