<!-- <p-steps [model]="items" [activeIndex]="activeIndex"></p-steps> -->

<div class="content">
  <div *ngIf="activeIndex === 0">
    <signup-credentials-form
      [userForm]="credentialsForm"
      [emailAvailable]="emailAvailable"
    ></signup-credentials-form>
    <div class="footer">
      <!-- <button pButton type="button" label="Test" (click)="test()"></button> -->
      <p class="signUpStep">Etape {{ activeIndex + 1 }} sur 3</p>

      <btn
        (click)="next(credentialsForm)"
        label="Suivant"
        icon="fa-solid fa-angles-right fa-2xs"
        iconPos="right"
      ></btn>
    </div>
  </div>

  <div *ngIf="activeIndex === 1 && credentialsForm.value.role == 'rider'">
    <signup-rider-form
      [riderForm]="riderForm"
      [touched]="riderFormTouched"
    ></signup-rider-form>
    <div class="footer">
      <!-- <button pButton type="button" label="Prev" (click)="prev()"></button> -->
      <p class="signUpStep">Etape {{ activeIndex + 1 }} sur 3</p>
      <btn
        (click)="test()"
        label="Test"
        icon="fa-solid fa-check fa-2xs"
        iconPos="right"
      ></btn>
      <btn
        (click)="next(riderForm)"
        label="Suivant"
        icon="fa-solid fa-angles-right fa-2xs"
        iconPos="right"
      ></btn>
    </div>
  </div>

  <div *ngIf="activeIndex === 1 && credentialsForm.value.role == 'organizer'">
    <signup-organizer-form
      [organizerForm]="organizerForm"
      [touched]="organizerFormTouched"
    ></signup-organizer-form>
    <div class="footer">
      <!-- <button pButton type="button" label="Prev" (click)="prev()"></button> -->
      <p class="signUpStep">Etape {{ activeIndex + 1 }} sur 3</p>
      <btn
        (click)="next(organizerForm)"
        label="Suivant"
        icon="fa-solid fa-angles-right fa-2xs"
        iconPos="right"
      ></btn>
    </div>
  </div>
</div>

<div *ngIf="activeIndex === 2 && !isLoading">
  <signup-photo-form
    [photoForm]="photoForm"
    [photoFile]="photoFile"
    [signupTypeRider]="credentialsForm.value.role == 'rider' ? true : false"
    (uploadPhoto)="uploadPhoto($event)"
  ></signup-photo-form>
  <div class="footer">
    <p class="step">Etape {{ activeIndex + 1 }} sur 3</p>
    <btn
      (click)="submit()"
      label="Valider"
      icon="fa-solid fa-angles-check fa-2xs"
      iconPos="right"
    ></btn>
  </div>
</div>

<div *ngIf="isLoading" class="flexRow justifyCenter">
  <loader></loader>
</div>
