<div
  [@fadeInOut]
  [class]="isMobile ? 'flexCardColumn' : 'flexCardRow'"
  *ngIf="contest"
>
  <loader *ngIf="isLoading"></loader>
  <p *ngIf="!isLoading && !contest">Contest introuvable</p>
  <div class="flexCardColumn">
    <contest-infos-card [contest]="contest"></contest-infos-card>
    <contest-socials-card [contest]="contest"></contest-socials-card>
    <card title="Gestion des données">
      <div class="flexRow">
        <div class="flexColumn">
          <h3>Exporter les données</h3>
          <btn label="Cliquer pour exporter" (click)="exportRiders()"></btn>
        </div>
        <div class="flexColumn">
          <h3>Importer des riders</h3>
          <input-file
            placeholder="Choisir un fichier de rider (.xlsx)"
            acceptedFiles=".xlsx"
            (fileSelected)="importRiders($event)"
          ></input-file>
        </div>
      </div>
    </card>
  </div>

  <div class="flexCardColumn">
    <contest-list-rules-card [contest]="contest"></contest-list-rules-card>
    <contest-branding-card
      class="branding"
      [contest]="contest"
    ></contest-branding-card>
    <legal-files [contest]="contest"></legal-files>
    <danger-zone [contest]="contest"></danger-zone>
  </div>
</div>
