<div
  [@fadeInOut]
  [class]="isMobile ? 'flexCardColumn' : 'flexCardRow'"
  *ngIf="contest"
>
  <loader *ngIf="isLoading"></loader>
  <p *ngIf="!isLoading && !contest">Contest introuvable</p>
  <div class="flexCardColumn">
    <contest-infos-card [contest]="contest"></contest-infos-card>
    <contest-socials-card [contest]="contest"></contest-socials-card>
    <card title="Exportation de données"
      ><btn label="Export riders" (click)="exportRiders()"></btn
    ></card>
  </div>

  <div class="flexCardColumn">
    <contest-list-rules-card [contest]="contest"></contest-list-rules-card>
    <contest-branding-card
      class="branding"
      [contest]="contest"
    ></contest-branding-card>
    <legal-files [contest]="contest"></legal-files>
    <danger-zone [contest]="contest"></danger-zone>
  </div>
</div>
