<h1 class="mainTitle">Bienvenue !</h1>
<div class="container">
  <card
    *ngIf="!authService.isValid()"
    class="card"
    title="Veuillez valider votre email"
    [fitContent]="true"
  >
    <div class="content">
      <p>
        Pour se faire, vérifier votre boite email et cliquer sur le lien se
        trouvant dans l'email que nous vous avons envoyé.
      </p>
      <btn
        (click)="sendNewEmail()"
        label="Envoyer un nouvel email de confirmation"
        icon="fa-solid fa-paper-plane"
      ></btn>
    </div>
    <card
      *ngIf="authService.isValid()"
      title="Votre email a bien été validé !"
      [fitContent]="true"
    >
      <div class="content">
        <btn
          (click)="backHome()"
          *ngIf="authService.isCurrentUserRider()"
          label="Retour à l'accueil"
          icon="fa-solid fa-paper-home"
        ></btn>
        <btn
          (click)="backHome()"
          *ngIf="authService.isCurrentUserOrganizer()"
          label="Je créé mon contest !"
          icon="fa-regular fa-square-plus"
        ></btn>
      </div>
    </card>
  </card>
</div>
